/* top navigation */
.nav-wizard{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.import_content .nav-wizard > li > a {
	padding: 10px 80px;
	cursor: default;
}

/* slider */
.slider{
	width:100%;
	overflow:hidden;
	position:relative;
	padding-top: 10px;
}
#slider{
	position:relative;
	left:0px;
	white-space:nowrap;
}
#slider>div{
	display:inline-block;
	width:100%;
	vertical-align: top;
}

.form-group label {
	margin-top: 7px;
}

/* Steps */
.step_header{
	margin-bottom: 20px;
}
.step_header .step_header_text{
	font-size: 18px;
	font-weight: bold;
}
.step_header .step_header_steps{
	padding-right: 0px;
	color: #999999;
}
.step_footer{
	margin-top: 20px;
}
.table .preview_information{
	word-break: break-all;
	overflow: auto;
	white-space: normal;
}

.file-holder {
	border: none;
	height: auto;
	width: auto;
}

.file-holder span {
	margin: 0;
}

.file-holder .filename {
	float: left;
	margin-right: 5px;
}

.remove-uploaded-file i {
	color: red;
	cursor: pointer;
	font-size: 15px;
	margin-top: 2px;
}

#import_fields table td {
	border-left: none;
	border-right: none;
	vertical-align: middle;
}

#import_fields table th {
	border-bottom: none;
}

#ms-import-dragndrop {
	width: 0;
}

.import-schedule .radio-inline {
	padding-top: 2px !important;
}