/* Product page */
#ms_product_reviews .rating-row{
    line-height: 10px;
}
#ms_product_reviews .rating-row span {
    line-height: 10px;
}
#ms_product_reviews .rating-row .progress{
    display: inline-block;
    margin-bottom: 0;
}
#ms_product_reviews .rating-row span:first-child{
    display: inherit;
}

.categories .dropdown-content {
    background-size: 30%;
}

/* STANDALONE */

.mm_dashboard_table tbody>tr>td, .mm_dashboard_table thead>tr>td{
    text-align: left;
}
/* Basel cats menu */
.main-menu.vertical .menu-heading, .main-menu > ul > li > a, .main-menu-wrapper > ul > li > a{
    text-transform: none;
}
.header-main, .header-main .sign-in, #logo{
    line-height: 76px;
    height: 76px;
}
.search-field input.main-search-input{
    background: #fff;
}
.primary-menu  ul  li  a, .primary-menu  ul  li  a:hover{
    /*color: #fff;*/
}
.search-field .btn{
    bottom: 0;
    top: 0;
    right: 0;
    padding: 6px 10px;
    height: 38px;
}
/*body.account-login .header-wrapper{
    display: none;
}
body.account-login .breadcrumb-holder{
    display: none;
}
body.account-login .login-header{
    padding: 20px 0 20px;
    margin-bottom: 20px;
    text-align: center;
}
body.account-login #footer{
    display: none;
}*/
body.account-login .login-area:before{
    display: none;
}
.title_in_bc.normal_height_bc .breadcrumb-holder{
    padding: 0px;
    text-align: left;
}
.breadcrumb-holder{
    margin-bottom: 20px;
}

.product-style1 .breadcrumb-holder #title-holder{
    display: none;
}
.product-header{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    overflow: hidden;
}
.product-info  .table-cell.right .rating{
    margin-bottom: 5px;
}
.product-h1 h1{
    font-size:20px;
    text-transform: none;
    margin-bottom: 5px;

}
.rating_stars{
    color: orange;
}
.padding-b0{
    padding-bottom: 0px !important;
}
.margin-t15{ margin-top: 15px !important;}
#button-cart{
    background: #d9534f;
}
.btn-buy-now{
    background: #FF6029;
}
#button-cart:hover, .btn-buy-now:hover {
    color: #ffffff;
}

.live-price-new, .live-price{
    color: #d9534f;
}
/*.slick-slide{
    !* basel settings for 80px*!
    border-right: 1px solid #ddd;
    overflow: hidden;
}*/
.form-group.buy{
    margin-bottom: 0px;
}
.breadcrumb > li + li:before{
    content: ">";
}
#product{
    border-bottom: none;
}
#product .mm_box{
    border: none;
    padding: 0px;
}
#product .mm_box .avatar-box{
    height: 35px;
    width: 35px;

}
#product .btn-link{
    text-transform: none;
    margin-top: -3px;
}
#product .btn-link:focus{
    text-decoration: none;
    border-bottom: 1px solid #111111;
}
#product .mm_box.mm_description .info-box > div{
    margin-left: 10px;
    margin-top: 0px;
}
#product .sellersname{
    margin-bottom: 0px;
}
.product-info .table-cell.right p.info{
    margin-bottom: 5px;
}
.ms-ratings.comments .ms-empty-stars:before{
    content:"";
}
.ms-full-stars:before, .ms-ratings.side .ms-full-stars:before,
.ms-empty-stars:before, .ms-ratings.side .ms-empty-stars:before{
    -webkit-text-stroke: unset;
}
.ms-ratings.comments .ms-full-stars:before, .ms-ratings.side .ms-full-stars:before,
.ms-full-stars:before, .ms-ratings.side .ms-full-stars:before{
    content: "\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005";
}

.ms-ratings.side .ms-full-stars {
    color: #FFCD29;
}


.ms-ratings.comments .ms-empty-stars:before, .ms-ratings.side .ms-empty-stars:before,
.ms-ratings.side .ms-empty-stars:before, .ms-empty-stars:before{
    color: #FFCD29;
    content: "\f006\00a0\f006\00a0\f006\00a0\f006\00a0\f006";
}
.ms-ratings.seller .ms-empty-stars:before, .ms-ratings.seller .ms-full-stars:before{
    font-size: 14px;
}
.ms-ratings.seller .ms-empty-stars:before, .ms-ratings.seller .ms-full-stars:before{
    color: #666;
}
#product .options .table-cell{

}
#product .options .table-cell.va-top{
    vertical-align: top;
    padding-top: 0px;
}
#product .options .table-cell.name{

}
#product .list-unstyled.price li{

}
.black{
    color: #000;
}

.ms-account-order-info table thead tr td {
    font-size: 14px;
    text-transform: capitalize;
}

.tab-pane.short{
    min-height: 20px;
    overflow: hidden;
    position: relative;
}

#tab-description .tab-pane.short, #tab-specification .tab-pane.short {
    min-height: 0;
}

.iblock-title{
    text-align: left;
    margin-bottom: 5px;
}
.iblock-wrapper {
    background: #ffffff;
}

.iblock-wrapper .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: 70px;
    background-image: linear-gradient(to bottom, transparent, white);
    font-size: 16px;
    color: #49b0db;
    font-weight: bold;
    text-decoration: underline;
}
.iblock-wrapper .read-less {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 70px;
    margin: 0;
    font-size: 16px;
    color: #49b0db;
    font-weight: bold;
    text-decoration: underline;
}

.product-layout > div:not(:first-of-type) {
    margin-bottom: 20px;
}

.product-tabs-wrapper{
    padding: 10px 15px;
}
.table.specification{
    margin: 0;
}

.link-dotted-bottom {
    color: #949494;
    border-bottom: 1px dotted #949494;
}

h1#page-title {
    text-transform: capitalize;
}

.single-product .rating {
    margin-top: 0 !important;
}

/* MMS Footer */
.lang-curr-wrapper h4, .column .widget .widget-title .main-title, #footer h5, .dropdown-inner h4.column-title b, .blog_post .section-title {
    text-transform: initial !important;
}

#footer {
    margin-top: 0;
    padding-top: 0;
}

.scroll-to-top {
    display: none !important;
}

/* Header */
.header_mm ul.dropdown-content li {
    padding: 10px 20px;
}

.header_mm .links ul > li > a {
    text-transform: initial;
}

.account-login .breadcrumb-holder {
    display: none;
}

.account-login #content {
    margin-top: 20px;
}

body:not(.narrow_container) .shortcut-wrapper.cart .counter {
    position: absolute;
    left: 33px;
    background-color: #00bfab;
    color:#fff;
    top:5px;
    font-size:9px;
    font-family:Arial, Helvetica, sans-serif;
}

.header_mm .shortcuts .icon-element i {
    margin-top: 8px;
}

.header_mm .shortcuts .icon-element:hover i {
    opacity:0.8;
}

.header_mm .shortcuts .counter {
    background-color: #00bfab;
}

.header_mm .mms-customer-menu-wrapper > ul > li:nth-child(16),
.customer-menu-wrapper > ul > li:nth-child(16),
.header_mm .mms-customer-menu-wrapper > ul > li:nth-child(17),
.customer-menu-wrapper > ul > li:nth-child(17) {
    display: flex;
}

/* Hide compare from products list */
#compare-total {
    display: none;
}

/* MMS Single product card */
.product-style1:not(.catalog_mode) .grid .single-product:hover .price-wrapper .price {
    margin-top: 0;
    transition: none;
}

/* Seller products page */
.ms-catalog-seller-products #product-view .single-product .product-name{
    white-space: normal !important;
}

.product-style1 .single-product .image .icons-wrapper {
    display: none !important;
}

.single-product .price span {
    color: #FF6029 !important;
    font-size: 18px;
}

.single-product .price span.price-old {
    color: #949494 !important;
    font-size: 14px;
}

.single-product .product-name {
    margin-bottom: 0;
    padding-bottom: 0;
}

.single-product .seller {
    margin-bottom: 3px !important;
}

.single-product .seller .logo {
    display: none;
}

.single-product .rating {
    margin-bottom: 5px !important;
}

.single-product .seller .info .name a {
    padding-top: 0;
    font-size: 12px;
    color: #949494;
}

.single-product .price-wrapper .description {
    width: 100%;
}

.single-product .product-name {
    border-bottom: none !important;
}

.table-cell.menu-cell,
.main-menu:not(.vertical) > ul,
.main-menu:not(.vertical) > ul > li,
.main-menu:not(.vertical) > ul > li > a,
.main-menu:not(.vertical) > ul > li.dropdown-wrapper > a .fa-angle-down,
.main-menu.vertical .menu-heading {
    line-height: 40px;
    height: 40px;
}

.breadcrumb-holder .links-holder {
    padding: 5px 0;
}

.main-menu:not(.vertical) > ul.categories {
    color: #fff;
}

#block_oc_category .elements ul li a, #block_ms_category .elements ul li a {
    color: #4C4C4C;
}

.breadcrumb-holder ul.breadcrumb li {
    vertical-align: middle;
}

.breadcrumb-holder ul.breadcrumb li:last-of-type {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slick-slide .avatar img {
    display: initial;
}

.main-menu:not(.vertical) > ul > li > a > .top {
    text-transform: initial;
}

.multimerch_tiles .img-thumbnail {
    border: none;
}

.multimerch_tiles .oc_category a {
    display: block;
    text-transform: initial;
    color: #111111;
}

.header_mm, .header_mm p, .header_mm a, .header_mm span:not(.counter), .header input[type="text"] {
    font-size: 13px !important;
}

.header_mm .main-menu ul > li > a, .header_mm .main-menu ul > li > a > span {
    color: #222;
    font-size: 13px !important;
}

.header_mm .main-menu.vertical ul > li {
    padding: 0;
}

.header_mm .main-menu.vertical .dropdown-inner {
    padding-top: 11px;
    padding-bottom: 11px;
}

#ms-sellers-panel-grid .ms-box, .multimerch_tiles .ms-box {
    border: none;
}

/* Product page */
.product-layout h3 {
    font-size: 18px;
    font-weight: bold;
}

#product .live-price-new {
    color: red;
}

.table.specification tr:first-of-type td {
    border-top: none;
}

.product-main #page-title-mm {
    font-weight: bold;
    font-size: 18px;
}

.product-main .slick-initialized .slick-slide {
    max-width: 80px;
}

#product .alert.text-danger {
    padding: 10px;
    margin-bottom: 0;
}

#product #button-cart, #product #button-buy-now {
    color: #ffffff;
}

.product-layout #tab-specification .spec-row {
    padding: 5px 0;
}

.product-layout .review-stars {
    padding-bottom: 0;
    border-bottom: none;
}

.product-layout .reviews .review {
    border-bottom: none;
}

.product-layout #reviews-pag {
    margin-bottom: 0;
}

.product-layout .table > tbody > tr > td {
    border-top: none;
}

.product-layout .table > tbody > tr > td:first-of-type,
.product-layout .table > thead > tr > td:first-of-type{
    padding-left: 0;
}

.product-layout .table > thead > tr > td {
    font-style: italic;
}

/* Information pages */
body[class^="information-information"] h1 {
    text-transform: initial;
}

/* Category pages */
body[class^="product-category"] #content .multimerch_tiles {
    margin-top: 0;
}

body[class^="product-category"] .multimerch_tiles > .title h3 {
    font-weight: 400;
}
.live-search{
	z-index: 10;
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px){
	.header-main .table-cell.menu-cell.dark-search{
		width: 90% !important;
	}
}
/* Mobile */
@media (max-width: 768px){
	.table.header-main.menu-aligned-center{
		display: flex;
		flex-wrap: wrap;
		height: auto;
		align-items: center;
		padding-bottom: 15px;
	}
	
	.table.header-main.menu-aligned-center > div:nth-child(1){
		flex-basis: 50%;
		max-width: 50%;
		order: 1;
	}
	.table.header-main.menu-aligned-center > div:nth-child(2){
		flex-basis: 100%;
		order: 3;
	}
	.table.header-main.menu-aligned-center > div:nth-child(3){
		order: 2;
		flex-basis: 50%;
		max-width: 50%;
	}
}

