body.account-order-info h3 .btn-default {
    border-color: #ccc;
    padding: 4px 9px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 2px;
    background-color: #fff;
    background-image: none;
}

body.account-order-info .tab-pane>table tr td {
    padding-left: 0;
}

body.account-order-info table,
body.account-order-info table tr,
body.account-order-info table tr td
{
    border: none;
}

body.account-order-info table thead tr td {
    border-bottom: 1px solid #EEEEEE;
}

body.account-order-info table tfoot tr:first-child td {
    border-top: 1px solid #EEEEEE;
}

body.account-order-info h3 {
    font-weight: bold;
    font-size: 15px;
    color: inherit;
}

body.account-order-info .ms-message-form {
    border: none;
}

body.account-order-info .tab-content>table.active {
    display: table;
}