#ms-seller-landing > h1 {
	text-align: center;
}

#ms-seller-landing > p > span {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	text-align: justify;
}

#ms-seller-landing > .ms-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

#ms-seller-landing > .ms-section > * {
	text-align: center;
}

#ms-seller-landing > .ms-section .ms-subtitle {
	font-size: 14px;
	text-align: center;
	margin-bottom: 35px;
}

#ms-seller-landing table.ms-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

#ms-seller-landing table.ms-table > tbody > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
}

#ms-seller-landing table.ms-table-bordered {
	border: 1px solid #ddd;
}

/* General information */
#ms-seller-landing > .ms-section.general > table > tbody > tr > td {
	padding: 25px;
	text-align: left;
}

/* Marketplace features */
#ms-seller-landing > .ms-section.features > table > tbody > tr > td.feature {
	padding: 25px;
	text-align: center;
	width: 400px;
	vertical-align: top;
}

#ms-seller-landing > .ms-section.features > table > tbody > tr > td.feature > .image {
	margin-bottom: 25px;
}

/* Marketplace FAQ */
#ms-seller-landing > .ms-section.faq > table > tbody > tr > td.question {
	padding: 25px;
	text-align: left;
	vertical-align: top;
}

/* Pricing */
#ms-seller-landing > .ms-section.pricing > table > tbody > tr > td {
	border: 1px solid #ddd;
	text-align: center;
	width: 400px;
}

#ms-seller-landing > .ms-section.pricing > table > tbody > tr:first-of-type > td:nth-child(2) {
	color: white;
	background-color: #2996aa;
}

#ms-seller-landing > .ms-section.pricing > table > tbody > tr:first-of-type > td:nth-child(2) > h3 {
	color: white;
}

#ms-seller-landing > .ms-section.pricing > table > tbody > tr:not(:first-of-type) > td {
	vartical-align: middle;
}