.multimerch_productfilter_block[data-type="price"] .price-input {
    display: inline-block;
    position: relative;
    padding: 0;
    max-width: 90px;
    float: left;
}

.multimerch_productfilter_block[data-type="price"] .price-input input {
    border-radius: 0;
    padding: 5px 17px;
}

.multimerch_productfilter_block[data-type="price"] .price-search-button {
    display: inline-block;
}

.multimerch_productfilter_block[data-type="price"] .price-search-button button {
    border-radius: 0;
}

.multimerch_productfilter_block[data-type="price"] .currency {
    position: absolute;
    top: 8px;
    font-size: 12px;
    color: #555;
}

.multimerch_productfilter_block[data-type="price"] .currency.left {
    left: 7px;
}

.multimerch_productfilter_block[data-type="price"] .currency.right {
    right: 7px;
}

.multimerch_productfilter_block .checkbox-inline {
    width: 100%;
    margin-left: 10px;
}

.multimerch_productfilter_block:not(:first-of-type) {
    margin-top: 20px;
}

.multimerch_productfilter_block .category_rows ul {
    list-style: none;
    padding-left: 0;
}

.multimerch_productfilter_block .category_rows ul li a {
    color: #666;
}

.multimerch_productfilter_block .category_rows ul li.parent ~ li.current,
.multimerch_productfilter_block .category_rows ul li.parent ~ li.child {
    padding-left: 10px;
}

#multimerch_productfilter,
#mspf_products_container {
    position: relative;
}

.ms-block-ui {
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
}
@media (max-width: 767px){
    #multimerch_productfilter.filter-container{
        padding: 0px 15px 10px !important;
        overflow: hidden !important;
        overflow-y: scroll !important;
    }
}