.product-thumb .seller, .ms-product-card .seller {
	min-height: 20px;
	/*border-top: 1px solid #ddd;*/
	margin-bottom: 4px;
}

.product-thumb .seller .logo, .ms-product-card .seller .logo {
	float: left;
	padding: 5px 10px 5px 0;
}

.product-thumb .seller .logo img, .ms-product-card .seller .logo img {
	border-radius: 10px;
}

.product-thumb .seller .info, .ms-product-card .seller .info {
	display: inline-block;
}

.product-thumb .seller .info .sold_by, .ms-product-card .seller .info .sold_by {
	display: block;
	width: 100%;
	font-size: 10px;
}

.product-thumb .seller .info .name a, .ms-product-card .seller .info .name a {
	display: block;
	max-width: 185px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 6px;
}