#ms-shipping #shipping_rules table > tbody > tr > td {
    vertical-align: middle;
}

#ms-shipping #shipping_rules .icon-remove {
    color: #979797;
}

#ms-shipping #shipping_rules .icon-remove:hover {
    cursor: pointer;
    color: red;
}

#ms-shipping #shipping_rules .ffClone {
    cursor: pointer;
}

#ms-shipping #shipping_rules .selectize-control {
    height: 34px;
}

#ms-shipping #shipping_rules .input-group-addon {
    padding: 0 5px;
}

#ms-shipping .override-note + #shipping-container {
    margin-top: 30px;
}