.multimerch_tiles {
    margin-top: 35px;
}

.multimerch_tiles > .title h3 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.multimerch_tiles > .title span {
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}

.multimerch_tiles > .subtitle {
    margin: 10px 0;
}

#column-left .multimerch_tiles .seller,
#column-left .multimerch_tiles .product-layout,
#column-left .multimerch_tiles .oc_category,
#column-right .multimerch_tiles .seller,
#column-right .multimerch_tiles .product-layout,
#column-right .multimerch_tiles .oc_category {
    width: 100%;
}

.multimerch_tiles .ms-ratings.main .ms-full-stars, .multimerch_tiles .ms-ratings.side .ms-full-stars {
    left: 0 !important;
}

.multimerch_tiles [class^="items-holder"] .slick-prev:before, .multimerch_tiles [class^="items-holder"] .slick-next:before {
    color: #888888;
}

.multimerch_tiles [class^="items-holder"] .slick-prev, .multimerch_tiles [class^="items-holder"] .slick-next {
    z-index: 99;
}

.multimerch_tiles .oc_category a {
    color: inherit;
    text-transform: uppercase;
    min-height: 50px;
}

.multimerch_tiles .img-thumbnail {
    border: none;
}

/* Grid */
.multimerch_tiles .item {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px 20px 15px;
}

.multimerch_tiles .grid-1 .item {
    width: 100%;
}

.multimerch_tiles .grid-2 .item {
    width: 50%;
}

.multimerch_tiles .grid-3 .item {
    width: 33.3333%;
}

.multimerch_tiles .grid-4 .item {
    width: 24.6666%;
}

.multimerch_tiles .grid-5 .item {
    width: 19.6666%;
}

.multimerch_tiles .grid-6 .item {
    width: 16.3333%;
}

@media (max-width: 768px) {
    .multimerch_tiles .grid-4 .item {
        width: 49%;
    }

    .multimerch_tiles .grid-5 .item {
        width: 32%;
    }

    .multimerch_tiles .grid-6 .item {
        width: 49.5%;
    }

    .multimerch_tiles .slick-prev {
        left: -5px;
    }

    .multimerch_tiles .slick-next {
        right: -5px;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px){
	 .multimerch_tiles .grid-4 .item {
        width: 49%;
    }
	
	.multimerch_tiles .grid-5 .item {
        width: 32%;
    }

    .multimerch_tiles .grid-6 .item {
        width: 32%;
    }
}

@media (max-width: 320px) {
    .multimerch_tiles .grid-1 .item,
    .multimerch_tiles .grid-2 .item,
    .multimerch_tiles .grid-3 .item,
    .multimerch_tiles .grid-4 .item,
    .multimerch_tiles .grid-5 .item,
    .multimerch_tiles .grid-6 .item {
        width: 100%;
    }
}

.multimerch_tiles.slider .item.seller .avatar img,
.multimerch_tiles.slider .item.oc_category img {
    margin-left: auto;
    margin-right: auto;
}