/*
  Basel Theme
  MultiMerch compatibility CSS
*/


/* Seller list  */
.catalog-seller .mm_seller .mm_catalogseller img{
	margin-top: 3px;
	padding: 3px;
}
.catalog-seller .mm_seller .mm_catalogseller a.all{
	padding: 7px 0;
}

/* Seller dashboard  */
.ms-account-dashboard .mm_dashboard .mm_dashboard_block{
	height: 270px;
	overflow: hidden;
}
.ms-account-dashboard .mm_dashboard .mm_dashboard_block.transactions, .ms-account-dashboard .mm_dashboard .finance .mm_dashboard_block {
	height: 130px;
}

/* Account Review */
.ms-account-dashboard form#ms-new-review .thumbnails li.image-additional{
	opacity: 1;
	display: inline-block;
}

/* Account Menu */
#reports-sub a.list-group-item{
	padding-left: 25px;
}

/* Order History and Leave feedback */
.ms-account-order-history .ms-account-order-history-panel{
	overflow-y: inherit;
}

.product-holder{
	padding-top: 0;
}
.order-heading .row > span, .product-holder .row > div, .feedback-heading + .panel-body .product-holder .row > div{
	display: inline-block;
	width: 24%;
	vertical-align: top;
}
@media (max-width: 768px) {
	.order-heading .row > span, .product-holder .row > div, .feedback-heading + .panel-body .product-holder .row > div{
		width: 100%;
	}
}
.feedback-heading + .panel-body > div, .feedback-heading + .panel-body > form{
	padding: 10px;
}
.feedback-heading + .panel-body #form-rate .dragndrop .mm_allowed{
	margin-top: 40px;
}
.order-heading .row:first-child, .product-holder .row:first-child{
	padding-left: 20px;
}

/* Order info */
.seller-account-order-viewOrder .ms-account-order-info .table tr td:first-child{
	padding-left: 15px;
}
.seller-account-order-viewOrder .ms-account-order-info #seller_history .ms-message-form{
	border-top: none;
}

.seller-account-order-viewOrder .ms-account-order-info #seller_history .panel-body{
	padding: 15px;
}

.seller-account-order-viewOrder .btn.btn-sm {
	color: #333;
	border-radius: 2px;
	margin-top: -4px;
	background-color: #fff;
	padding: 4px 9px;
	font-size: 11px;
	line-height: 1.5;
	border: 1px solid #ccc;
}

.seller-account-order-viewOrder .btn.btn-sm:hover {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}

@media screen and (max-width: 1200px) {
	.ms-message-form .buttons .ms-message-upload {
		margin-bottom: 0;
	}
}

/* Login page */
.login-area .register-text{
	margin-bottom: 20px;
}

/* Category page */
#product-view .grid-holder .single-product .caption .product-name{
	white-space: normal;
}

/* Product page */
#tab-mm-reviews .rating-row {
	float: left;
}
#tab-mm-questions .questions .question .panel-body{
	padding: 15px;
}
.reviews .review .review-footer ul.review-thumbnails li.image-additional{
	opacity: 1;
}

/* Seller product form*/
.ms-account-dashboard .ms-product #mm_product_specials .form-control.inline, .ms-account-dashboard .ms-product #mm_product_discounts .form-control.inline{
	width: 100%;
}

select.cke_dialog_ui_input_select {
	-webkit-appearance: menulist;
	-moz-appearance: initial;
	background-image: none !important;
	padding-right: 0 !important;
}

/* Seller profile page */
.ms-catalog-seller-profile #tab-description .product-holder{
	padding-top: 20px;
}

/* Seller products page */
.ms-catalog-seller-products #product-view .single-product .product-name{
	white-space: nowrap !important;
}

.ms-catalog-seller-products #mm_store_info .rating {
	margin-top: 15px;
}

/* Override breadcrumbs margin-bottm at catalog-seller-products page */
.seller-catalog-seller-products .breadcrumb-holder {
	margin-bottom: 15px;
}

/* Cart */
.cart-modules #collapse-coupon{
	padding: 10px;
}
.cart-modules #collapse-coupon form#ms-coupons label.control-label{
	width: 100%;
}
.cart-modules #collapse-coupon form#ms-coupons .input-group{
	display: block;
}
.cart-modules #collapse-coupon form#ms-coupons .input-group .form-control{
	margin: 5px 0;
}
.cart-modules #collapse-coupon form#ms-coupons .input-group-btn #ms-button-coupon{
	margin-top: 5px;
}

.table.products .ms-by-seller a {
	color: #111111;
}

#shipping-method .shm-title {
	font-size: inherit;
	margin: 0;
}

/* import */
.import_content #slider .alert{
	white-space: normal;
}

#ms-import-dragndrop a {
	max-width: none;
}

/* Main menu */
.main-menu .dropdown-content{
	z-index: 10;
}

/* Quickcheckout cart */
#quickcheckoutconfirm .quantity {
	color: inherit;
	float: none;
}

.quickcheckout-checkout #payment-method .quickcheckout-content > strong,
.quickcheckout-checkout #payment-method .quickcheckout-content > [name="comment"] {
	display: none;
}

/* Seller infos in product cards */
.single-product .seller {
	min-height: 20px;
	margin-bottom: 5px;
}

.single-product .seller .logo {
	display: inline-block;
}

.single-product .seller .logo img {
	border-radius: 10px;
}

.single-product .seller .info {
	display: inline-block;
}

#product-view .single-product .seller .info {
	vertical-align: bottom;
}

.single-product .seller .info .sold_by {
	display: block;
	width: 100%;
	font-size: 10px;
}

.single-product .seller .info .name a {
	display: block;
	max-width: 185px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 7px;
}

/* MultiMerch product filter */
.multimerch_productfilter_block .checkbox-inline {
	padding: 4px 0 6px 0;
	cursor: default;
	position: relative;
	margin-left: 0 !important;
}

.multimerch_productfilter_block .checkbox-inline input[type="checkbox"] {
	display: none;
}

.multimerch_productfilter_block .checkbox-inline > span {
	cursor: pointer;
	line-height: 22px;
}

.multimerch_productfilter_block .checkbox-inline > span:before {
	content: "\f00c";
	color: #ffffff;
	font-size: 10px;
	display: inline-block;
	margin-right: 8px;
	text-align: center;
	width: 20px;
	height: 20px;
	border: 1px solid #aaaaaa;
	font-family: FontAwesome;
	vertical-align: top;
	line-height: 17px;
}

.multimerch_productfilter_block .checkbox-inline > span.checked:before {
	color: #444444;
}

.multimerch_productfilter_block .checkbox-inline > span > span {
	font-style: normal;
	color: #999999;
}

#ms_filter_price_range {
	padding: 8px 12px;
}

.multimerch_productfilter_block#block_price .input-group {
	width: 80%;
}

.multimerch_productfilter_block h4 {
	font-size: 14px;
	сolor: #222222;
	font-weight: 600;
	margin: 5px 0;
}

.multimerch_productfilter_block[data-type="price"] .currency {
	top: 10px;
}

/* Checkout shipping */
/*  Override .product-info in checkout by bootstrap styles */
@media (min-width: 768px) {
	#ms-shipping-checkout .col-sm-4.product-info {
		width: 33.33333333%;
	}
}

/* Wishlist and favorite sellers popup */
#ms-wishlist-popup .title, #ms-favorite-seller-popup .title {
	margin-top: 7px;
}

.ms-seller-settings .nav-tabs > li > a {
	line-height: 8px;
}

/* Tiles */
.multimerch_tiles .single-product .seller .logo {
	position: relative;
	top: -7px;
}

/* MOBILE MENU */
.customer-menu-wrapper {
	transition:left 500ms;
	position:fixed;
	left:-270px;
	width:270px;
	background:#f9f9f9;
	box-shadow:0 1px 5px rgba(0,0,0,.13);
	top:0;
	bottom:0;
	z-index:99;
	overflow-x:hidden;
}
.customer-menu-open .customer-menu-wrapper {
	right: auto;
	left:0;
	transition:left 500ms;
}

@media (max-width: 991px) {
	.customer-menu-open .main-wrapper {
		margin-right: -270px;
		margin-left: 270px;
		transition: margin-left 500ms, margin-right 500ms;
	}
}

.customer-menu-wrapper > ul > li {
	display: block;
	border-bottom: 1px solid;
	border-color: #eeeeee;
}

.customer-menu-wrapper > ul > li .menu-header {
	padding: 11px 14px;
	line-height: 20px;
	min-height: 42px;
	color: #111111;
	display: block;
	padding-right: 12px;
	padding-left: 12px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.customer-menu-wrapper > ul > li > a,
.customer-menu-wrapper > ul > li.menu-header {
	padding: 11px 14px;
	line-height: 20px;
	min-height: 42px;
	color: #111111;
	display: block;
	padding-right: 12px;
	padding-left: 12px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.customer-menu-wrapper > ul > li.divider {
	border-color: #b7b7b7;
}

.is_account {
	cursor: pointer;
}