.cl {
	clear:both;
}

.table-responsive {
	overflow-x: initial;
}

.tab-pane .ms-tab-pane-actions{
	margin-top: -15px;
	margin-bottom: 5px;
	min-height: 40px;
}

.tab-pane .ms-tab-pane-actions .pull-right{
	margin-right: 8px;
}

/* Admin datatables */
.dataTable td > p {
	margin: 0;
}

.dataTable td > ul {
	padding: 0;
}

.dataTable thead > tr > td.text-right {
	padding: 7px 20px 7px 7px;
}

.dataTable thead > tr > td.small {
	font-size: 100%;
}

td h3 {
	color: #FF802B;
	padding: 0;
	margin: 0;
}

.ffSample {
	display: none;
}

table.list tbody td {
	padding: 7px;
}

table.list td.checkbox {
	width: 10px;
}

table.list td.comment {
	width: 650px;
}
/* End Admin datatables */

.bottom-dotted-link {
	border-bottom: 1px dotted;
}

.control-inline input, .control-inline select, .input-auto {
	width: auto;
	display: inline;
}

.control-inline .col-sm-2 {
	height:35px;
	line-height: 35px;
}

.control-inline .col-sm-3 {
	text-align: center;
	margin:5px 0;
}

.ms-settings .content form table tr h2 {
	border-bottom: none;
	text-transform: none;
	margin: 25px 0 0;
}

.ms-settings .content form table tr:first-child h2 {
	margin: 0;
}

.ms-settings #tab-finances .radio-inline + .radio-inline {
	margin-left: 0;
}

.ms-button {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0 1px;
	font-size: 20px;
}

.ms-button-delete {
	background-image: url(../../image/multiseller/ms-cross.png);
}

.ms-button-edit {
	background-image: url(../../image/multiseller/ms-pencil.png);
}

.ms-payment table.list tbody tr {
	height: 50px;
}

.fee-rate-1 {
	color: #4E8B00;
}

.fee-rate-2 {
	color: #1C237A;
}

.fee-rate-3 {
	color: #C84848;
}

h1 img {
	width: 22px;
}

/* datatables */

.dataTables_wrapper .dataTables_processing {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin:0;
	background: rgba(255,255,255,.90);
	border: 1px solid #efefef;
}

.dataTables_wrapper .dataTables_processing i {
	margin-top: 15px;
}


.dataTables_length, .dataTables_filter {
	display: inline-block;
	margin-bottom: 5px;
}

.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
}


.dataTables_wrapper table.dataTable {
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate {
	float: left;
}

.dataTables_wrapper .dataTables_info {
	float: right;
}

/* table cell sizes*/
table .tiny {
	width: 50px;
}

table .small {
	width: 75px;
}

table .medium {
	width: 125px;
}

table .large {
	width: 200px;
}

table .filter input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}

.dataTables_filter {
	display: none;
}

table.list thead td.right {
	text-align: center;
}

.dataTables_wrapper .paging_full_numbers a.paginate_button,
.dataTables_wrapper .paging_full_numbers a.paginate_button:hover,
.dataTables_wrapper .paging_full_numbers a.paginate_active {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3 !important;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0 2px;	
}

.dataTables_wrapper .paging_full_numbers a.paginate_active {
	border: 1px solid #269BC6;
	color: #269BC6 !important;
}

.dataTables_wrapper .paging_full_numbers .paginate_button_disabled {
	display: none;
}

.v-top
{
	vertical-align: top;
}

.msBlack .ui-widget-header {
	background: url("view/image/ui-bg_gloss-wave_35_000000_500x100.png") repeat-x scroll 50% 50% #F6A828;
	border: 1px solid #000000;
}

/* ms settings page */

.ms-settings .mm_container {
	background: #F6F6F6;
	max-width: 97%;
	margin: 0 0 0 20px;
	display: flex;

}

.ms-settings .content {
	display: inline-block;
	background: #F6F6F6;
	order: 2;
	width: 100%
}

.ms-settings .sidebar {
	background-color: #EBEBEB;
	width: 200px;
	order: 1;
	font-size: 15px;
	font-family: "Open Sans";
}
.ms-settings .sidebar ul {
	margin: 0;
	padding: 0;
}

.ms-settings .sidebar li {
	width: 100%;
	list-style-type: none;
}

.ms-settings .sidebar li a {
	display: block;
	width: 100%;
	padding: 10px 17px;
	color: #2E2E2E;
}

.ms-settings .sidebar li a:hover {
	background: #F0F0F0;
	color: #2E2E2E;
}

.ms-settings .sidebar .active {
	background: #F6F6F6;
	border-left: 3px solid #2E94AC;
}

.ms-settings .sidebar .active a {
	padding-left: 14px;
}

.ms-settings .mm_container .control-label {
	font-weight: normal;
	font-size: 13px;
	color:#2E2E2E;
	position: relative;
	padding-left: 20px;
}

.ms-settings .form-group {
	clear: both;
	margin-bottom: 0;
	padding: 14px;
	border-top: 1px solid #E6E6E6;
	width: 100%;
	display: block;
}

.ms-settings .form-control-mini:first-child {
	margin-right:0;
}

.ms-settings .form-group:first-child {
	border-top:none;
}

.ms-settings .form-group:before,
.ms-settings .form-group:after {
	clear: both;
	content: " ";
	display: table;
}

.comment {
	font-style: italic;
	font-size: 11px;
	color: #b2b2b2;
	margin-top: 10px;
}

.ms-settings .form-group label {
	padding-top: 7px;
}

.ms-settings .form-group .radio-inline {
	padding-top: 0;
}

.ms-settings .form-group .radio-inline input[type="radio"] {
	margin-right: 4px;
}

.ms-settings .tab-pane {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.ms-settings .control-label {
	text-align: left;
}

.ms-settings .form-control {
	font-size: 13px;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	box-shadow: none;
	max-width: 480px;
	-webkit-appearance:none;
}

.ms-settings .tab-pane h4 {
	padding-left: 34px;
	margin-top: 20px;
	font-weight:600;
}

.ms-settings #ms-activate-license button {
	margin-right: 10px;
}

.ms-settings #license-info-holder {
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 0;
}

.ms-settings #updates-info-holder {
	padding-top: 7px;
	padding-bottom: 7px;
}

.ms-settings .ms-changelog {
	background-color: #fff;
	background-image: none;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	box-shadow: none;
	padding: 10px;
	min-height: 150px;
	overflow-y: scroll;
}

.ms-settings .overlay_block {
	display:none;
}

.ms-settings .comment.for-header {
	padding-left: 34px;
	padding-right: 34px;
	margin-bottom: 8.5px;
}

.ms-settings .tag-editor li.oc > div:not(.tag-editor-spacer) {
	background: #ffdad8;
	color: #8e3535;
}

.ms-settings .tag-editor li.oc > div.tag-editor-delete > i:before {
	color: #d27272;
}

.ms-settings .tag-editor li.oc > div.tag-editor-delete:hover > i:before {
	color: #d65454;
}

.ms-settings span.ms-order-status-color {
	color: #8e3535;
}

.ms-settings span.ms-suborder-status-color {
	color: #46799b;
}

.ms-settings span.ms-credit-status-color {
	color: #8fd14f;
}

.ms-settings span.ms-refund-status-color {
	color: #fac710;
}

.ms-settings .seller-fields thead tr {
	margin-right: 15px;
}

.ms-settings .table-fixed-header tbody {
	height: 217px;
	overflow-y: auto;
	width: 100%;
}

.ms-settings .table-fixed-header thead, .table-fixed-header tbody, .table-fixed-header tr, .table-fixed-header td, .table-fixed-header th {
	display: block;
}

.ms-settings .table-fixed-header tbody td, .table-fixed-header thead > tr > th {
	float: left;
	border-bottom-width: 0;
}

.radio-inline {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}

input.mm_radio[type=radio] {
	display: none;
}

.radio-inline:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	/*background: url('../../image/elements.png') top left;*/
}

input.mm_radio[type=radio]:checked + .radio-inline:before {
	background: url('../../image/elements.png') -18px 0;
	color: #f3f3f3;
	font-size: 30px;
	text-align: center;
	line-height: 18px;
}

.mm_radio[type=checkbox] {
	display: none;
}

input.mm_radio[type=checkbox] + .radio-inline {
	background: url('../../image/elements.png') 17px 0;
}

input.mm_radio[type=checkbox]:checked + .radio-inline {
	background: url('../../image/elements.png') 17px -17px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 15px;
}

.form-control-mini {
	font-size: 13px;
	height: 34px;
	padding: 6px 12px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #D0D0D0;
	border-radius: 3px;
	box-shadow: none;
	outline: none;
	width: 80px;
	-webkit-appearance:none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-right: 10px;
}

.mm_container .form-control:focus, .mm_container .form-control-mini:focus {
	box-shadow:none;
	border-color: #2E94AC;
}

.control-label {
	max-width: 200px;
}

.arrow {
	width:13px;
	height: 8px;
	display: block;
	position: absolute;
	top:13px;
	right: 8px;
	background: url('../../image/elements.png') right no-repeat;
}

.selectcontainer {
	position: relative;
	max-width: 480px;
}

.control-inline {
	font-size: 13px;
}

.control-inline span {
	margin-top: 1px;
	margin-right: 7px;
}

#tab-shipping .btn-default {
	color: #777;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #e7e7e7;
	background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
	background-repeat: repeat-x;
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

table#list-shipping-methods tbody td:last-child a, table#list-products tbody td:last-child a {
	margin-left: 4px;
}

.ms_alert {
	margin: 0 60px 17px 20px;
}

.readonly-field {
	padding-top: 9px;
}

/* Seller attributes */
.ms-attributes-topbar {
	border-bottom: 0;
	margin-bottom: 0;
}

.ms-attributes-topbar a {
	border: 1px solid #ddd !important;
	border-radius: 2px !important;
}

#list-attributes td p, #list-attribute-groups td p, #list-options td p, #list-categories td p {
	margin-bottom: 0;
}

/* Seller categories */
.ms-category-form fieldset {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

.ms-category-form fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

.ms-category-form .lang-img-icon-input {
	position: absolute;
	z-index: 9999;
	right:20px;
}

.ms-category-form .lang-chooser img {
	cursor: pointer;
	margin-left: 2px;
	opacity: 0.6;
}

.ms-category-form .lang-chooser img.active {
	opacity: 1;
	cursor: default;
}

.ms-category-form #tab-ms-fees .control-inline input, .ms-category-form #tab-ms-fees .control-inline select {
	width: auto;
	display: inline;
}

/* Messaging */
.ms-account-conversation {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 15px;
}

.ms-messages .ms-message {
	margin-bottom: 10px;
}

.ms-messages .ms-message .title {
	font-weight: bold;
}

.ms-messages .ms-message .title .date {
	font-weight: normal;
	color: #919a9b;
	margin-left: 10px;
}

.ms-messages .ms-message .body {
	background-color: #e4f5fa;
	padding: 8px 14px 8px 14px;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
	margin-top: 5px;
}

.ms-messages .ms-message.admin .body {
	background-color: #f5e79e;
}

.ms-messages .ms-message.seller .body {
	background-color: #efefef;
}

.ms-messages .ms-message .body::before {
	content:"\A";
	border-style: solid;
	border-width: 5px 8px 5px 0;
	border-color: transparent #e4f5fa transparent transparent;
	position: absolute;
	left: 20px;
	top: -8px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.ms-messages .ms-message.admin .body::before {
	border-color: transparent #f5e79e transparent transparent;
}

.ms-messages .ms-message.seller .body::before {
	border-color: transparent #efefef transparent transparent;
}

.ms-messages .ms-message .attachments {
	padding: 10px;
}

.ms-messages .ms-message .attachments a {
	cursor: pointer;
}

.ms-message-form {
	border-top: 1px solid #e8e8e8;
}

.ms-message-form form {
	margin-top: 15px;
}

.ms-message-form .list {
	margin-top: 5px;
}

.ms-message-form .ms-remove {
	margin-left: 3px;
	color: red;
}

/* Sale > Order > Info */
.suborder-info {
	font-size: 14px;
	margin-bottom: 25px;
}

.suborder-info ul {
	list-style: none;
	padding-left: 0;
}

/* MsReview rating stars */
.ms-ratings {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	color: #fff;
	overflow: hidden;
}
.ms-full-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #20b0db;
}
.ms-empty-stars:before, .ms-full-stars:before {
	font-family: FontAwesome;
	content: "\f005\00a0\f005\00a0\f005\00a0\f005\00a0\f005";
	font-size: 18px;
}
.ms-empty-stars:before {
	-webkit-text-stroke: 1px #848484;
}
.ms-full-stars:before {
	-webkit-text-stroke: 1px #25a1cd;
}
/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
	.ms-full-stars {
		color: #ECBE24;
	}

	#ms-cf-form table#cf-values {
		border-collapse: separate;
	}
}
/* IE */
/*<!--[if IE]>
	.ms-full-stars {
		 color: #ECBE24;
	 }
<![endif]-->*/

/* Multimerch > Reviews */
.ms-review-form fieldset {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

.ms-review-form fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

.ms-review-form .form-group .col-sm-10 {
	padding-top: 9px;
}
.ms-review-form .ms-remove-image, .ms-remove-comment {
	color: red;
	cursor: pointer;
}

.ms-review-form .review-comments .review-comment {
	margin-bottom: 10px;
}

.ms-review-form .review-comments .review-comment .header {
	font-weight: bold;
}

.ms-review-form .review-comments .review-comment .header .date {
	font-weight: normal;
	color: #919a9b;
	margin-left: 10px;
}

.ms-review-form .review-comments .review-comment .body {
	background-color: #e4f5fa;
	padding: 8px 14px 8px 14px;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
	margin-top: 5px;
}

.ms-review-form .review-comments form {
	margin-top: 15px;
}

/* MsDebug */
.panel.with-nav-tabs .panel-heading {
	padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs {
	border-bottom: none;
	margin-bottom: 0;
}

.panel.with-nav-tabs .nav-tabs > li:nth-child(2), .panel.with-nav-tabs .nav-tabs > li:nth-child(3) {
	float: right;
}

.panel-body div#tab-info textarea, .panel-body div#tab-multimerch textarea {
	white-space: pre-line;
}

.phpinfodisplay {
	max-height: 528px;
	overflow: scroll;
}

/* Multimerch > Questions */
.ms-question-form .form-group .col-sm-10 {
	padding-top: 9px;
}

/* MsReports */
.report-content > .panel > .panel-heading {
	min-height: 50px;
}

.report-content > .panel > .panel-heading #reportrange {
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
	width: 100%;
}

.report-content > .panel > .panel-body table {
	text-align: center;
}

/* MsCustomField */
.ms-custom-fields-topbar {
	border-bottom: 0;
	margin-bottom: 0;
}

.ms-custom-fields-topbar a {
	border: 1px solid #ddd !important;
	border-radius: 2px !important;
}

#list-custom-fields td p, #list-custom-field-groups td p {
	margin-bottom: 0;
}

.ms-custom-field-group-form fieldset, .ms-custom-field-form fieldset {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

.ms-custom-field-group-form fieldset legend, .ms-custom-field-form fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

.ms-custom-field-group-form .lang-img-icon-input, .ms-custom-field-form .lang-img-icon-input {
	position: absolute;
	z-index: 9999;
	right: 25px;
	top: 8px;
}

.ms-custom-field-group-form .lang-chooser img, .ms-custom-field-form .lang-chooser img {
	cursor: pointer;
	margin-left: 2px;
	opacity: 0.6;
}

.ms-custom-field-group-form .lang-chooser img.active, .ms-custom-field-group-form .lang-chooser img.active {
	opacity: 1;
	cursor: default;
}

#ms-cf-form input[type="checkbox"] {
	top: 8px;
}

/* MsCustomFields */
.icon-remove {
	color: red;
}

/* OC Product form */
#tab-ms-custom-fields fieldset {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

#tab-ms-custom-fields fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

#tab-ms-custom-fields input[type="radio"] {
	top: 3px;
}

#tab-ms-custom-fields .list-group-item {
	max-width: 250px;
}

#tab-ms-custom-fields .ms-remove-file {
	position: absolute;
	right: 15px;
	color: red;
}

/* Ms Orders list */
#list-orders table.sub-table {
	background-color: inherit;
	margin-bottom: 0;
}

#list-orders table.sub-table td {
	border:none;
}

#list-orders table.sub-table > tbody > tr > td:first-of-type {
	text-align: left;
}

#list-orders table.sub-table > tbody > tr > td:last-of-type {
	text-align: right;
}

/* Payouts */
#payout-form .panel-heading {
	min-height: 60px;
}

.ms-payouts-topbar {
	border-bottom: 0;
	margin-bottom: 0;
	float: left;
}

.ms-payouts-topbar a {
	border: 1px solid #ddd !important;
	border-radius: 2px !important;
}

.ms-payout td.details-control {
	cursor: pointer;
}
.ms-payout td.details-control i:before {
	color: #666666;
}

.date-filter {
	min-height: 39px;
	padding-top: 5px;
	float: right;
}

.date-filter #datepicker {
	display: inline-block;
	float: left;
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
	margin-right: 10px;
}

.date-filter #datepicker input[name="date_filter"] {
	border: none;
	cursor: pointer;
}

.date-filter #datepicker input[name="date_filter"]:focus {
	outline-width: 0;
}

.date-filter #refresh_table {
	padding: 6px 9px;
}

#payout-confirm-form .list-group .list-group-item {
	min-height: 40px;
}

table.dataTable tbody > tr > td {
	word-break: break-all;
}

.ms-list-image-thumb {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.ms-disabled {
	opacity: 0.5;
}

table.seller-fields tbody > tr.subtitle {
	font-weight: bold;
}
table.seller-fields tbody > tr.subtitle > td {
	border-top: none;
}

.paymentInfoControl {
	border-bottom: 1px dashed #23a1d1;
	text-decoration: none;
}
/* Flags in shipping tab */
.col-sm-12 > div:first-of-type:last-of-type .select-input-lang{
	display: none;
}

/* Badges form */
.col-sm-10 > img[src*="language"]:first-of-type:last-of-type {
	display: none;
}
#language-slogan li:first-of-type:last-of-type, 
#language-description li:first-of-type:last-of-type{
	display: none;
}
/* custom-field-style form*/
/*.col-sm-10 div:first-of-type:last-of-type .lang-img-icon-input{
	display: none !important;
}*/
/* Lang switcher in panel heading */
.lang-chooser img:first-of-type:last-of-type{
	display: none;
}
/* seller-group-style form*/
.col-sm-10 .input-group:first-of-type:last-of-type img[src*="language"]{
	display: none;
}

/* Seller form */
#ms-sellerinfo #tab-commission fieldset {
	margin-top: 25px;
}

#commissions-settings fieldset {
	margin-top: 25px;
}

/* MultiMerch order info form */

.ms-order-info h4 {
	font-weight: bold;
	margin-bottom: 15px;
}

.ms-order-info .ms-dashboard-widget {
	min-height: 0 !important;
	margin-bottom: 20px;
}

.ms-order-info tfoot tr:not(:first-of-type) td {
	border: none !important;
}

.ms-order-info table tbody tr:not(:first-of-type) td {
	border-top: none;
}

.ms-order-info table tr > td {
	border-color: #eee;
}

.ms-order-info #order-history table tbody > tr > td {
	vertical-align: top;
}

.ms-order-info .form-group {
	padding-bottom: 0;
}

.ms-order-info .form-group + .form-group {
	border: none;
}

.ms-order-info hr {
	border-color: #ddd;
}

/* MSF Attributes */
fieldset.ms-fieldset {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}

fieldset.ms-fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

.ms-field-attribute-form .lang-img-icon-input,
.ms-field-variation-form .lang-img-icon-input,
.ms-field-seller-property-form .lang-img-icon-input {
	position: absolute;
	top: 8px;
	right: 30px;
}

.ms-field-attribute-form .lang-chooser img,
.ms-field-variation-form .lang-chooser img,
.ms-field-seller-property-form .lang-chooser img {
	cursor: pointer;
	margin-left: 2px;
	opacity: 0.6;
}

.ms-field-attribute-form .lang-chooser img.active,
.ms-field-variation-form .lang-chooser img.active,
.ms-field-seller-property-form .lang-chooser img.active {
	opacity: 1;
	cursor: default;
}

.ms-field-attribute-form .lang-field-holder,
.ms-field-variation-form .lang-field-holder,
.ms-field-seller-property-form .lang-field-holder {
	display: inline;
}

ul.ui-sortable {
	list-style: none;
}

ul.ui-sortable li.ui-state-default {
	border-radius: 3px;
	margin-bottom: 5px;
	cursor: pointer;
}

ul.ui-sortable .toggle-value-info {
	float: right;
	color: #666;
}

ul.ui-sortable .value-info, ul.ui-sortable .actions, ul.ui-sortable .value-creator-content {
	margin-top: 10px;
}

ul.ui-sortable .value-title {
	display: inline;
}

ul.ui-sortable .ms-remove {
	float: right;
}

/* Disable sorts/drags if list is disabled */
.ms-disabled ul.ui-sortable li {
	pointer-events: none;
}

#form-product #tab-msf-attribute .lang-img-icon-input,
#ms-sellerinfo #tab-msf-seller-property .lang-img-icon-input {
	position: absolute;
	top: 8px;
	right: 20px;
}

#form-product #tab-msf-attribute .lang-text-input,
#ms-sellerinfo #tab-msf-seller-property .lang-text-input {
	position: relative;
	margin-bottom: 5px;
}

/* MSF seller properties in seller form */
#tab-msf-seller-property .form-group {
	border-top: 1px solid #ededed;
}

/* Tiles */
.multimerch-tiles .lang-img-icon-input {
	position: absolute;
	z-index: 9999;
	right: 25px;
	top: 8px;
}

.multimerch-tiles .lang-chooser img {
	cursor: pointer;
	margin-left: 2px;
	opacity: 0.6;
}

.multimerch-tiles .lang-chooser img.active {
	opacity: 1;
	cursor: default;
}

.multimerch-tiles .lang-img-icon-input {
	position: absolute;
	z-index: 9999;
	right: 30px;
}