#header  .navbar-brand{
    padding: 0px 10px !important;
}
#header .nav > li > a{
    line-height: 45px;
    padding: 0px 15px;
}
#header img {
    max-height: 45px;
}

#menu > li > a, #menu li a{
    border-bottom: none;
}
#menu li li a:before{
    content:" ";
}
#menu li li a:hover:before{
    margin-right: 10px;
}
#menu > li.active > a, #menu > li > a:hover, #menu li li a:hover{
    background: #232a2b;
}
#menu > li > ul{
    background: #232a2b;
}
#column-left{
    background-color: #2c3132;
    padding-top: 46px;
    min-height: 100%;
    height: auto;
}
#column-left.active{
    overflow: initial;
}

.breadcrumb{
    display: block;
    padding-left: 0px;
}
.breadcrumb li + li:before{
    content: ">";
}
.panel-default .panel-heading:not(.note-toolbar) {
    display: none;
}
.panel-default{
    border-top: 1px solid #e8e8e8;
    border:none;
    box-shadow: none;
}
.panel-default .panel-body{
    padding: 0px;    
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{
    border-bottom-width: 1px;
}
.table.dataTable tr.odd, .table.dataTable tr.odd td, .table.dataTable tr.even td {
    background-color: initial !important;
}
.table.dataTable :not(thead) tr:hover{
    background-color: #f5f5f5 !important;
}

.ms-list-image-thumb, .table .img-thumbnail{
    border: none;
}

/* MM Settings */
.ms-settings #msf_attribute_msf_variation_block {
    display: none;
}

#payout-form .panel-heading {
    display: block;
}