.control-inline input, .control-inline select, .input-auto, .ms-product input[type='text'].input-auto {
	width: auto;
	display: inline;
}

.no_padding {
	padding: 0 !important;
}

.no_margin {
	margin: 0 !important;
}

.visible-important {
	display: block !important;
}

.table-cell-important {
	display: table-cell !important;
}

.hidden-important {
	display: none !important;
}

a.noclick {
	opacity:0.6;
	pointer-events: none;
}

.truncate {
	max-width: 130px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ms-disabled {
	opacity: 0.5;
}

.bottom-dotted-link {
	border-bottom: 1px dotted #23a1d1;
}

/* table alignment style override */
#content .content table.list .left {
	width: auto;
	float: none;
}

#content .buttons {
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}

.dataTables_wrapper .pagination {
	display: block;
}

.pagination {
	margin:0!important;
	padding-top: 0;
}

.ffSample {
	display: none;
}

.ms-form .content {
	position: relative;
}

.ms-overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color:#EEE;
	opacity: 0.5;
	position: absolute;
}

.ms-product div.error {
	margin-top: 5px;
}

.ms-product div.error p,
.register-seller p.error {
	margin: 0;
}

.ms-account-product-form p.warning.main,
.ms-account-profile p.warning.main,
.account-seller-profile .warning.main,
.register-seller .warning.main {
	display: none;
}

#seller-registration-form fieldset {
	padding-right: 40px;
}

#seller-registration-form fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

.ms-progress.progress {
	background-color: rgba(50, 198, 240,1);
	background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent)));
	background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
	background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent);
	background-size: 40px 40px;
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 4px;
	box-shadow: unset;
	width: 100%;
	height: 100%;
	display: none;
	color: #fff;
	font-weight: bold;
}

.ms-product .table .input-group.date {
	margin: 0 auto;
}

.ms-product #mm_product_attributes textarea {
	width: calc(100% - 5px);
}

.ms-product #mm_product_attributes .icon-remove {
	margin-left: -20px;
	margin-top: 2px;
}

.ms-product .mm_label a.btn {
	width: 100%;
}

.ms-product textarea {
	height: 100px;
}

.ms-product .ms-image, .ms-seller-settings .ms-image {
	position:relative;
	display: inline-block;
	margin: 0 5px;
}

.ms-product .ms-download {
	margin: 10px 0;
	height: 30px;
	clear: both;
}

.ms-product .ms-download-name {
	font-weight: bold;
	background: #ffffff url(../image/ms-tick.png) no-repeat left top;
	display: inline-block;
	padding-left: 40px;
	line-height:30px;
}

.ms-account-product-form .ms-button-delete {
	width: 32px;
	height: 32px;
	display: inline-block;
}

.mm_option .mm_values table {
	text-align: center;
}

#mm_product_options .mm_values table thead td {
	color: #aaa;
}


.mm_bg_header {
	background-color: #F3F3F3;
	padding: 6px 0;
}

.mm_option {
	padding-bottom: 15px;
}

span.option_price,
input.option_quantity {
	margin-right: 25px;
}

.option_value .ms-button-delete,
.option_price_prefix,
.option_required {
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	padding-bottom: 1px;
	display: inline-block;
	cursor: pointer;
}

.ms-product .ms-download .ms-buttons {
	display: inline-block;
	float: right;
}

.ms-product .ms-download .ms-buttons a,
.ms-product .ms-download .ms-buttons span.disabled {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 1px;
}

.ms-product .ms-download .ms-button-delete {
	background-image: url(../image/ms-cross.png);
}

.ms-product .ms-download .ms-button-delete.disabled {
	background-image: url(../image/ms-cross-bw.png);
}

.ms-product .ms-download .ms-button-update {
	background-image: url(../image/ms-refresh.png);
}

.ms-product .ms-download span.ms-button-update.disabled {
	background-image: url(../image/ms-refresh-bw.png);
}

.ms-product .ms-download .ms-button-download {
	background-image: url(../image/ms-arrowdown.png);
}

.ms-product .ms-download .ms-button-download.disabled {
	background-image: url(../image/ms-arrowdown-bw.png);
}

.ms-product .ms-remove {
	/*position: absolute;*/
	/*bottom: 3px;*/
	/*right: 3px;*/
	/*width: 32px;*/
	/*height: 32px;*/
	/*background: url('../image/ms-cross.png');*/
	/*cursor: pointer;*/
}

.ms-account-product-form .attention.ms-commission span,
.ms-account-profile .attention.ms-commission span {
	font-weight: bold;
}

#ms-new-product .has-error .cke, #ms-new-product .has-error .well {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#ms-new-product .has-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
}

#mm_additional_data, #mm_search_optimization {
	display: none;
}

.tab-content fieldset {
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
}

.tab-content h4 {
	margin-bottom: 20px;
	margin-top:0;
}
.ms-note {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 0;
}

.ms-pending {
	color: #AAA;
}

#ms-withdrawal input[type='radio'], #ms-withdrawal span {
	vertical-align: middle;
	margin: 0;
}

#ms-withdrawal tr:first-child + tr td:first-child + td {
	padding-top: 5px;
}

#ms-withdrawal p {
	margin-bottom: 10px;
}

#mm_page_title h1 {
	margin-top: 0;
}

/* Store info block */
#column-left div[id^="mm_store_"]:not(:first-of-type):not(#mm_store_categories) {
	margin-top: 10px;
	text-align: center;
}

#mm_store_stats {
	text-align: left !important;
}

#mm_store_social_links ul {
	margin-bottom: 0;
}

#mm_store_social_links ul li {
	margin-right: 5px;
}

#mm_store_categories {
	display: block;
	margin-top: 10px;
}

#mm_store_info {
	display: block;
}

.ms-box {
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	padding: 15px 20px;
}

#mm_store_info .avatar {
	text-align: center;
}

#mm_store_info .name {
	font-size: 14px;
	text-align: center;
}

#mm_store_info .name > img {
	float: left;
}

#mm_store_info .name > div > h1 {
	font-size: 14px;
	padding-top: 7px;
	margin: 0;
}

#mm_store_info .name > div a {
	font-weight: bold;
	color: #666;
	display: block;
}

#mm_store_info .name > div > h1 > a {
	margin-bottom: 3px;
}

#mm_store_info .rating {
	margin-top: 10px;
	text-align: center;
}

#mm_store_info .badges {
	float: left;
	margin-top: 10px;
}

@media (max-width: 375px) {
	#mm_store_info .rating, #mm_store_info .badges {
		margin-top: 0;
	}
}

/* seller profile */
.avatar-box img {
	border-radius: 100px;
}

.thumbnails {
	padding: 0;
	border: 0;
}

.mm_box.mm_description .avatar-box {
	display: inline-block;
	margin: 0;
	float: left;
	border: none;
}

.mm_box.mm_description .info-box > div {
	display:inline-block;
	margin-top: 10px;
}

.mm_box.mm_description > .info-box > div > ul > li,
.mm_box.mm_description > .info-box > div > ul > li > h3,
.mm_box.mm_description > .info-box > div > ul > li > a {
	display: block;
	max-width: 180px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ms-catalog-seller-products .mm_box.mm_description > .info-box > div > ul > li,
.ms-catalog-seller-products .mm_box.mm_description > .info-box > div > ul > li > h3,
.ms-catalog-seller-products .mm_box.mm_description > .info-box > div > ul > li > a {
	max-width: 220px;
}

.ms-catalog-seller-profile .seller-description {
	/*white-space: pre-wrap;*/
	margin-top: 25px;
}

.ms-catalog-seller-profile .avatar-box>img {
	margin: 0;
}

.ms-catalog-seller-profile .info-box h4 {
	margin: 0;
}

.ms-catalog-seller-profile .info-box > div {
	margin-left: 20px;
}

.ms-catalog-seller-profile .product-thumb .image, .ms-catalog-seller-products .product-thumb .image {
	padding: 15px;
}

.ms-catalog-seller-profile .product-thumb .caption {
	min-height: 0;
	text-align: center;
}

.ms-catalog-seller-profile .product-thumb .caption h4 a, .ms-catalog-seller-products .product-thumb .caption h4 a {
	display: inline-block;
	height: 20px;
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ms-catalog-seller-products .product-thumb .caption h4 a {
	max-width: 220px;
}

.ms-catalog-seller-profile .product-thumb .button-group button {
	width: 100%
}

/* New seller's profile design (with tabs) */
.ms-catalog-seller-profile .top-banner {
	margin-bottom: 25px;
}

.ms-catalog-seller-profile .top-banner img {
	width: 100%;
}

.ms-catalog-seller-profile #tab-description .seller-name {
	margin-top: 25px;
	font-size: 16px;
}

/* seller list */
.catalog-seller .caption {
	min-height: 150px;
}

.catalog-seller .caption p {
	margin: 0
}

.catalog-seller .product-grid .seller-description {
	display: none;
}

.catalog-seller .mm-one-seller > div > ul > li,
.catalog-seller .mm-one-seller > div > ul > li > a {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.catalog-seller .mm-one-seller > div > h5.panel-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* seller account product list*/
.ms-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0 1px;
}

.ms-account-product table.list tbody td {
	vertical-align: middle;
}

.ms-account-product-form .ms-button {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 0;
}

.ms-account-product-form #product-filter {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: inherit;
	width: 50%;
}


.ms-account-product-form .ms-button-delete {
	background-image: url(../image/ms-cross.png);
}

.ms-button-view {
	background-image: url(../image/ms-magnifier.png);
}

.ms-button-edit {
	background-image: url(../image/ms-pencil.png);
}

.ms-button-relist {
	background-image: url(../image/ms-relist.png);
}

.ms-button-delete {
	background-image: url(../image/ms-cross.png);
}


.ms-account-order .products p {
	display: inline-block;
	width: 100%;
	margin: 0;
}

.ms-account-dashboard aside {
	padding-left: 0;
	padding-right: 40px;
}

/*.ms-account-order .products .name,
.ms-account-dashboard .products .name {
	float: left;
}*/

.ms-account-order .products .total,
.ms-account-dashboard .products .total {
	float: right;
}

/* seller dashboard */

.ms-account-dashboard h2 {
	clear: both;
}

.ms-account-dashboard .overview .nickname {
	margin-bottom: 10px;
	display: inline-block;
}

.ms-account-dashboard .overview p,
.ms-account-dashboard .stats p {
	margin-bottom: 5px;
}

.ms-account-dashboard .nav a {
	display: block;
	width: 100%;
	text-decoration: none;
	margin-bottom: 5px;
	height: 32px;
}

.ms-account-dashboard .nav a.lang_tab {
	margin-bottom: 0px;
}

.ms-account-dashboard .nav a span {
	font-weight: bold;
	vertical-align: middle;
}

.ms-account-dashboard .nav a img {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 5px;
}

.ms-account-dashboard .nav a img.lang_image {
	width: 16px;
	height: 11px;
}

@media (max-width: 768px) {
	.ms-account-dashboard .row:not(:first-of-type) > div:not(:first-of-type) {
		margin-top: 20px;
	}
}

/*
 *
 * datatables
 *
 */

.dataTables_wrapper .dataTables_processing {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin:0;
	background: rgba(255,255,255,.90);
	border: 1px solid #efefef;
}

.dataTables_wrapper .dataTables_processing i {
	margin-top: 15px;
}

.dataTables_length, .dataTables_filter {
	display: inline-block;
	margin-bottom: 5px;
}

.dataTables_length {
	float: left;
}

.dataTables_filter {
	float: right;
}


.dataTables_wrapper table.dataTable {
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate {
	float: left;
}

.dataTables_wrapper .dataTables_info {
	float: right;
	clear: right;
}

/* table cell sizes*/
.mm_size_tiny {
	width: 50px;
}

table .small, input.small, input[type='text'].small, .mm_size_small {
	width: 75px;
}

table .medium, input.medium, input[type='text'].medium, .mm_size_medium {
	width: 125px;
}

table .large, input.large, input[type='text'].large, .mm_size_large {
	width: 200px;
}

table .filter input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	height: auto;
}

.dataTables_filter {
	display: none;
}

table.list thead td.right {
	text-align: right;
}

.dataTables_wrapper .paging_full_numbers a.paginate_button,
.dataTables_wrapper .paging_full_numbers a.paginate_button:hover,
.dataTables_wrapper .paging_full_numbers a.paginate_active {
	border: 1px solid #DDDDDD;
	padding: 4px 10px;
	font-size: 12px;
	text-decoration: none;
	color: #A3A3A3 !important;
	background-color: transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0 2px;
}

.dataTables_wrapper .paging_full_numbers a.paginate_active {
	border: 1px solid #269BC6;
	color: #269BC6 !important;
}

.dataTables_wrapper .paging_full_numbers .paginate_button_disabled {
	display: none;
}

.has-error .error, .error {
	color: #a94442;
}

.inline {
	display:inline;
}

.mm_vtop {
	display: inline-block;
	vertical-align: top;
	float: none;
}

.mm_values table.table>tbody>tr>td, #mm_product_specials table.table>tbody>tr>td, #mm_product_discounts table.table>tbody>tr>td {
	vertical-align: middle;
}

.module .product-thumb .caption {
	padding: 0 20px;
	min-height: 50px;
	text-align: center;
}

.cl {
	clear:both;
}

/* table cell sizes */
.mm_head {
	padding: 10px 0 20px;
}
.mm_head h3 {
	float: left;
	padding: 0;
	margin: 5px 0 0 0;
}
.mm_head #search {
	float: right;
	width: 255px;
}

.mm_head #search input, .mm_head #search button {
	height: 32px;
}

.mm_head #search input {
	width: 210px;
}

.mm_head #search button {
	padding-top: 5px;
	width: 35px;
}

.mm_head .input-group {
	display: block;
}

.mm_head #search .btn-lg {
	padding: 1px 28px 3px 15px;
}

.mm_stats {
	font-size: 15px;
	color: #727272;
	padding: 0;
	margin: 0;
}

.mm_stats i {
	font-size: 24px;
	width: 30px;
}

.mm_stats li b {
	padding: 0;
}

.mm_stats a {
	color: #727272!important;
}

.mm_stats li {
	list-style: none;
	margin: 13px 0;
}

.mm_stats li:first-child {
	margin-top: 0;
}

.mm_stats li:last-child {
	margin-bottom: 0;
}

.sellersname {
	font-weight: bold;
	margin-top: 0;
	font-size: 17px;
}

.thumbnails li {
	list-style: none;
}

.thumbnail {
	border: none;
	padding: 0;
	margin-bottom: 0;
}

.mm_top_products_left {
	padding-left: 13px;
	float:left;
	padding-bottom: 13px;
}

.mm_top_products_left #search input {
	height: 35px;

}

.mm_top_products_left #search .input-group-btn {
	display: block;
}

.mm_top_products_left #search {
	width: 250px;
}

.mm_top_products_left button {
	height: 35px;
}

.mm_top_products_left .btn-group {
	float: left;
}

.mm_top_products_left .btn-lg  {
	padding-top: 7px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.mm_top_products_left #search input {
	border-radius: 3px;
	border-right: none;
}

.mm_top_products_right {
	float: right;
	padding-right: 13px;
	padding-bottom: 15px;
}

.mm_top_products_right .control-label {
	float: left;
	vertical-align: middle;
	padding-top: 7px;
	padding-left: 13px;
	padding-right: 5px;
}
.mm_sort_group {
	float: right;
}
.mm_top_products_right .form-control {
	float: left;
	display: block;
	width: 120px;
}

.mm_dashboard {
	padding-bottom: 40px;
	padding-left: 0px;
	padding-right: 0;
}

.mm_dashboard h1 {
	font-size: 27px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.mm_dashboard h1 i {
	font-size: 0.7em;
	overflow: hidden;
	padding-right: 5px;
}

.mm_dashboard_block {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	height: 160px;
	padding: 0;
	overflow: auto;
}

.mm_boards.top .mm_dashboard_block, .mm_boards.last .mm_dashboard_block {
	height: 250px;
}

.mm_dashboard_block:last-child {
	margin: 0;
}

.mm_dashboard_block a {
	font-size: 34px;
	color:#444;
	margin: 20px 20px;
	display: block;
}

.seller-dashboard .mm_dashboard_block .head a {
	font-size: initial;
	margin: 0;
	display: inline;
}

.seller-dashboard .mm_dashboard_block .body a {
	font-size: 12px;
	color: #23527c;
	margin: 0;
	display: inline;
}

.mm_dashboard_block p {
	margin: 20px;
	font-size: 14px;
}
.mm_dashboard_block div.head {
	background:#f8f8f8;
	padding: 10px 15px;
	color: #616161;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-size: 14px;
}
.mm_boards.total .mm_dashboard_block div.body {
	padding-top: 10px;
	padding-bottom: 10px;
}

.mm_dashboard_block:last-child {
	margin-right: 0px;
}

/* dashboard tables */
.mm_dashboard_table tbody>tr>td,
.mm_dashboard_table thead>tr>td {
	text-align: center;
	padding: 16px 8px;
	vertical-align:top;
}

.seller-dashboard .mm_dashboard_table tbody>tr>td,
.seller-dashboard .mm_dashboard_table thead>tr>td {
	padding: 8px;
}

.seller-dashboard .mm_dashboard_table > tbody > tr > td.no-results {
	line-height: 150px;
}

.mm_dashboard_table tbody>tr>td .product_options {
	text-align: left;
}

.mm_dashboard_table thead>tr.filter>td {
	text-align: center;
	padding: 8px;
}

.mm_dashboard_table td.text-left {
	text-align: left;
}

.mm_dashboard_table td.text-right {
	text-align: right;
	padding-right: 16px;
}

.mm_dashboard_table thead td {
	font-weight: bold;
}

.mm_dashboard_table td.action a {
	margin: 0 2px;
}

.mm_dashboard_table td.action i {
	font-size: 20px;
}

.table-responsive {
	overflow-x: initial;
}

.mm_boards {
	padding: 0;
}

.mm_boards .col-md-4, .mm_boards .col-md-6, .mm_boards .col-md-12 {
	padding-left: 0;
	padding-bottom: 20px;
}

@media (max-width: 768px) {
	.mm_boards .col-md-4, .mm_boards .col-md-6, .mm_boards .col-md-12 {
		padding-right: 0;
	}

	.table-responsive {
		border: none;
	}
}

.mm_boards > div[class*="col-"]:last-child, .mm_boards > div[class*="col-md-12"] {
	padding-right: 0;
}

.mm_boards.finance .mm_dashboard_block > span {
	margin-left: 20px;
}

.mm_boards.last .mm_dashboard_block p {
	margin: 0;
	font-size: 12px;
	color: #666 !important;
}

.mm_boards.top table, .mm_boards.last table {
	margin-bottom: 0;
}

.mm_submead:after, .mm_boards:after {
	clear: both;
}

.mm_submead h3 {
	width: 500px;
	float: left;
}

.mm_view {
	float: right;
	margin-top: 23px;
}

.mm_label {
	padding-top: 6px;
	padding-left: 0;
}

.ms-account-dashboard .form-group .col-sm-10 {
	margin-bottom: 15px;
	padding-right: 0;
}

.mm_form thead {
	background: #f5f5f5;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.mm_form table, .mm_form tr, .mm_form thead {
	width: 100%;
}

.mm_form table td {
	padding: 5px 10px;
}

.dragndrop {
	background: #fcfcfc;
	border: 2px dashed #c2c2c2;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: center;
	vertical-align: middle;
	color: #c0bfbf;
	font-size: 11px;
}

.dragndrop .mm_drophere {
	font-size: 18px;
	margin: 20px 0;
}

.dragndropmini .mm_drophere {
	margin: 15px 0;
}

.dragndrop .mm_allowed {
	margin: 20px 0;
}

.dragndropmini {
	border: 4px dashed #999;
	text-align: center;
	color: #999;
	font-size: 12px;
	width: 100px;
	min-height: 100px;
	cursor: pointer;
	display: block;
}

.dragndropmini.dragover {
	background: rgba(255, 255, 255, 0.4);
	border-color: green;
}

.dragndropmini u {
	display: block;
	margin-top: 15px;
	text-decoration: none;
}

.dragndrop {
	width: 100%;
}

.dragndrop.dragover {
	background: rgba(255, 255, 255, 0.4);
	border-color: green;
}

.dragndrop u {
	text-decoration: none;
	display: block;
	margin: 25px auto 0;
}

.mm_req:after {
	content: " *";
	color: red;
}

.mm_dashboard .pull-left {
	margin-top: 7px;
}

.mm_dashboard .pagination {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

.mm_head .btn-primary {
	float: right;
	padding: 6.5px 12px;
	margin-left: 15px;
}

.mm_head h1 {
	float: left;
}

.mm_head:after {
	content: " ";
	clear:both;
}
.mm_dashboard .mm_head .btn-primary, .mm_dashboard .mm_head #search {
	margin-top: 20px;
}

.mm_dashboard_table input {
	display: block;
	border: 1px solid #dddddd;
	border-radius: 2px;
	height: 20px;
	margin-bottom: 6px;
	width: 100%;
}

.mm_blocks:after {
	content:" ";
	clear: both;
	display: table;
}

.mm_blocks {
	height: 100px;
}

.mm_blocks .col-sm-4 {
	padding-left: 0;
}

.mm_blocks .mm_dashboard_block {
	height: 160px;
	margin-bottom: 20px;
}

.mm_blocks .mm_dashboard_block.transactions {
	height: 130px;
}

.mm_blocks .mm_dashboard_block.transactions span {
	color: grey;
	margin: 20px;
	font-size: 12px;
}

.mm_dashboard_table td.image {
	margin: 0;
	width: 10%;
	text-align: center;
}

.mm_seller .image img {
	border-radius: 4px;
	height: 85px;
	width: 85px;
}

.mm_seller .image a {
	display: block;
	float: left;
}

.mm_seller .image {
	margin: 20px;
	text-align: left;
}

.mm_seller .caption {
	float:left;
	width: 140px;
}

.mm_catalogseller img {
	margin-top: 13px;
}

.mm_catalogseller a {
	width:70px;
	height: 75px;
	display: block;
	float: left;
	border: 1px solid #dedede;
	text-align: center;
	margin-left: -1px;
	float: right;
}

.mm_catalogseller a.all {
	padding: 18px 0;
	display: block;
	border: 1px solid #dedede;
	background: #f5f5f5;
	float: left;
	color: #727272;
	text-align: center;
	float: right;
}

.mm_catalogseller a.all:hover {
	background: #efefef;
}

.mm_catalogseller a.all b {
	font-weight: 400;
	font-size: 23px;
	display: block;
}

.mm_catalogseller {
	width: 415px;
	float: right;
	margin-right: 17px;
	margin-top: 4px;
}

/* Seller catalog new style */
.catalog-seller .panel-profile-img {
	max-width: 100px;
	margin-top: -70px;
	margin-bottom: 5px;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.catalog-seller .mm-one-seller .panel-heading {
	height: 150px;
	background-size: cover;
}
.catalog-seller .mm-one-seller .panel-body{
	padding-bottom: 0;
}
.catalog-seller .mm-one-seller ul.list-unstyled li {
	min-height: 20px;
}
.catalog-seller .mm-one-seller .panel-title {
	margin-bottom: 5px;
}
.catalog-seller .mm-one-seller .mm-one-seller-products{
	min-height: 120px;
}

.mm_sellerdescription {
	width:200px;
	margin-left: 20px;
	float: left;
	overflow: hidden;
}

.catalog-seller .caption {
	min-height: 50px;
	margin-top: 10px;
}

.mm_seller .product-thumb {
	padding-bottom: 20px;
}

.info-box ul li i {
	font-size: 14px;
	width: 20px;
}

.mm_box {
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	padding: 15px 20px;
}

.mm_box.mm_social_holder ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.mm_box.mm_social_holder ul li {
	margin-right: 5px;
	display: inline-block;
}
.mm_box.mm_messages {
	margin: 0;
}

.mm_box.mm_messages .contact{
	padding-top: 0;
}
.mm_box.mm_description img {
	margin: 0;
	display: block;
	float: left;
	margin-right: 15px;
}

#list-products tbody td:not(.dataTables_empty).last-child {
	text-align: right;
}

#list-products tbody td:last-child a{
	margin-right: 5px;
}

#list-products tbody td:last-child i {
	font-size: 20px;
}

.icon-remove {
	/*color: #979797;*/
	color: red;
}

.ms-image span i {
	margin: 5px 0 0 5px;
	font-size: 16px;
}
.ms-image span {
	position: absolute;
	top: 0;
	left: 0;
	margin: 3px 0 0 3px;
	color: red;
	cursor: pointer;
}

.image-holder, .file-holder {
	float: left;
	display: block;
	position: relative;
	margin: 5px;
}

.image-holder img {
	border: 1px solid #eee;
	padding: 2px;
}

.file-holder i {
	font-size: 80px;
	display: block;
	margin: 5px 0 0 15px;
}

.file-holder {
	width: 120px;
	border: 1px solid #eee;
	height: 125px;
}

.file-holder span {
	margin: 3px 0 0 13px;
}


#ms-image, #ms-file {
	margin-bottom: 5px;
}

span.file-name {
	position: relative;
	margin: 0 auto;
	width: 75px;
	font-size: 8px;
	color: #808080;
	word-wrap: break-word;
	display: block;
}

.lang-chooser {
	text-align: right;
	padding-bottom: 10px;
}

.lang-chooser img {
	cursor: pointer;
	margin-left: 2px;
	opacity: 0.6;
}

.lang-chooser img.active {
	opacity: 1;
	cursor: default;
}

.lang-textarea {
	position: relative;
}

.lang-img-icon-input {
	position: absolute;
	z-index: 9999px;
	right:20px;
	top:70px;
	opacity: 0.6;
}

.lang-img-icon-input-text {
	position: absolute;
	z-index: 9999px;
	right:20px;
	top:5px;
	opacity: 0.6;
}

#mm_product_attributes .lang-img-icon-input-text{
	right:30px;
}

.lang-img-icon-text-input {
	background-repeat: no-repeat !important;
	background-position: right 20px center !important;
	padding-right: 50px;
}

.lang-img-icon-textarea-input {
	background-repeat: no-repeat !important;
	background-position: right 20px top 10px !important;
	padding-right: 50px;
}

.lang-select-field[data-lang-default="false"] {
	display: none;
}

#ms-sellerinfo fieldset legend, #ms-new-product fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

#ms-sellerinfo .change_group_block{
	margin-bottom: 20px;
}

#ms-sellerinfo .change_group_block .mm_dashboard_block{
	min-height: 210px;
}

#ms-sellerinfo .change_group_block .head{
	background-color: #eeeeee;
}

#ms-sellerinfo .change_group_block .active_group{
	background-color: #1f90bb;
	color:#ffffff;
}


#ms-sellerinfo .group_fee{
	list-style: none;
	padding-top: 10px;
}

.ms-product-image {
	height: 120px;
}

/* Ratings and reviews on account, product and seller's profile pages */
#review, .review-stars, .stars-rating-stats, .rating-row {
	width: 100%;
}

.review-stars {
	margin-left: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.review-stars-top.product-page {
	padding-top: 35px;
	padding-left: 15px;
}

.review-stars-top > span {
	display: block;
}

.review-stars > * {
	padding-left: 0;
}

.review-stars .rating-stats {
	padding-top: 10px;
}

.review-stars .rating-stats .rating-row {
	height: 20px;
}

.review-stars .rating-stats .rating-row span:first-child {
	display: inline-block;
	width: 5%;
	min-width: 50px;
	float: left;
}
.review-stars .rating-stats .rating-row span:last-child {
	margin-left: 10px;
}
.review-stars .rating-stats .rating-row .progress {
	display: inline-table;
	height: 10px;
	width: 70%;
}
.review-stars .rating-stats .rating-row .progress .progress-bar {
	background-color: #20b0db;
}

#reviews-pag {
	margin-top: 15px;
}
.reviews .review {
	border-bottom: 1px solid #dddddd;
}
.reviews .review-header {
	margin: 15px 0 5px 0;
}
.reviews .review-body {
	margin: 10px 0 5px 0;
	word-wrap: break-word;
	max-height: 140px;
	position: relative;
	overflow: hidden;
}

.reviews .review .read-more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding-top: 70px;
	background-image: linear-gradient(to bottom, transparent, white);
}
.reviews .review .read-less {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
}

.reviews .review-author-name, .reviews .review-product-name, .reviews .review-product-price {
	color: #20b0db;
}
.reviews .rating {
	margin-top: -15px;
}
.reviews .rating-container .filled-stars i, .reviews .rating-container .empty-stars i {
	font-size: 14px;
}
.reviews .product-name .prod-price {
	margin-left: 15px;
}

.review-history table th {
	text-align: center;
	background-color: #f5f5f5;
	color: #b0b0b0;
	font-weight: normal;
}
.review-history table td {
	text-align: center;
}
.review-history table td:first-child {
	text-align: left;
}
.account-seller-profile .ms-sellerinfo .sellerinfo_avatar_files .ms-remove{
	right: 0;
}

/* Seller > account-review */
.mm_dashboard.review .mm_label {
	padding-top: 0;
}

.mm_dashboard.review .form-group .col-sm-10 {
	padding-top: 7px;
	margin-bottom: 0;
	word-wrap: break-word;
}



.mm-product-rating .rating-container {
	display: block;
	float: left;
	margin: -6px 3px 0 0;
}
.mm-product-rating .rating-container .caption {
	display: none;
}
.mm-product-rating .rating-container .empty-stars i {
	font-size: 15px;
}
.mm-product-rating .rating-container .filled-stars i {
	font-size: 15px;
	color: #FC0;
	-webkit-text-stroke-color: #E69500;
}

.review-thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.review-thumbnails > li {
	margin-left: 20px;
}
.review-thumbnails {
	margin-left: -20px;
}
.review-thumbnails > img {
	width: 100%;
}
.review-thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

#tab-mm-reviews .review-comments {
	margin-left: 40px;
}

.review-comments.collapsed {
	display: none;
}
.review-comments.expanded {
	display: block;
}

.review-comments .review-comment {
	margin-bottom: 10px;
}

.review-comments .review-comment .header {
	font-weight: bold;
}

.review-comments .review-comment .header span {
	font-weight: normal;
	color: #919a9b;
	margin-left: 10px;
}

.review-comments .review-comment .body {
	background-color: #e4f5fa;
	padding: 8px 14px 8px 14px;
	border: 1px solid transparent;
	border-radius: 4px;
	position: relative;
	margin-top: 5px;
	word-wrap: break-word;
}

.review-comments form {
	margin-top: 15px;
}

/* MsReview rating stars */
.ms-ratings {
	position: relative;
	vertical-align: middle;
	display: inline-block;
	color: #fff;
	overflow: hidden;
}
.ms-full-stars {
	position: absolute;
	left: 0;
	top: 0;
	white-space: nowrap;
	overflow: hidden;
	color: #ECBE24;
}
.ms-empty-stars:before, .ms-full-stars:before {
	font-family: FontAwesome;
	content: "\f005\00a0\00a0\f005\00a0\00a0\f005\00a0\00a0\f005\00a0\00a0\f005";
	font-size: 18px;
}
.ms-empty-stars:before {
	-webkit-text-stroke: 1px #848484;
}
.ms-full-stars:before {
	-webkit-text-stroke: 1px #ffb100;
}
/* Webkit-text-stroke is not supported on firefox or IE */
/* Firefox */
@-moz-document url-prefix() {
	.ms-full-stars {
		color: #ECBE24;
	}
}
/* IE */
/*<!--[if IE]>
	.ms-full-stars {
		 color: #ECBE24;
	 }
<![endif]-->*/

/* Styles for stars in different places */
.ms-ratings.main, .ms-ratings.side {
	padding: 1px 1px 0 1px;
	margin-top: -3px;
}
.ms-ratings.main .ms-full-stars, .ms-ratings.side .ms-full-stars {
	top: 1px;
	left: 1px;
}
.ms-ratings.main .ms-empty-stars:before, .ms-ratings.main .ms-full-stars:before {
	font-size: 16px;
}
.ms-ratings.comments .ms-empty-stars:before, .ms-ratings.comments .ms-full-stars:before,
.ms-ratings.side .ms-empty-stars:before, .ms-ratings.side .ms-full-stars:before{
	content: "\f005\00a0\00a0\f005\00a0\00a0\f005\00a0\00a0\f005\00a0\00a0\f005";
	font-size: 14px;
}
.ms-ratings.side .ms-empty-stars:before, .ms-ratings.side .ms-full-stars:before {
	font-size: 15px;
}
.ms-ratings.side .ms-full-stars {
	color: #ECBE24;
}
.ms-ratings.side .ms-full-stars:before {
	-webkit-text-stroke: 1px #ffb100;
}

/* Product page reviews tab */
.ms-ratings.pr .ms-full-stars {
	top: 2px;
}
.ms-ratings.prt .ms-empty-stars:before, .ms-ratings.prt .ms-full-stars:before {
	font-size: 22px;
}

/* Checkout shipping */
#ms-shipping-checkout #shipping-error-holder, #shipping-info-holder {
	margin-top: 20px;
}

#ms-shipping-checkout .ms-error {
	color: red;
}

#ms-shipping-checkout .ms-no-background {
	background-color: inherit;
}

#ms-shipping-checkout .carts {
	margin-top: 20px;
}

#ms-shipping-checkout .inline.cost {
	font-weight: bold;
}

#ms-shipping-checkout .ms-remove-link {
	color: red;
	border-bottom: 1px dotted red;
}

#ms-shipping-checkout .carts table .combined ~.combined > td {
	border: none;
}

#ms-shipping-checkout .carts table tr > td.shipping-methods {
	vertical-align: middle;
}

#ms-shipping-checkout .carts tr.with-options td {
	padding-top: 20px;
}

#ms-shipping-checkout .carts .shipping-total-holder {
	display: block;
}

#ms-shipping-checkout .carts ul.options {
	padding-left: 20px;
}

#ms-shipping-checkout #ms-shipping-submit {
	margin-top: 10px;
}

@media (max-width: 425px) {
	#ms-shipping-checkout .table > tbody > tr > td,
	#ms-shipping-checkout .table > tfoot > tr > td {
		display: block;
		width: 100%;
		border-top: none;
	}

	#ms-shipping-checkout .table > tbody > tr > td:first-child {
		text-align: center;
	}

	#ms-shipping-checkout .table > tbody > tr > td:last-child {
		border-bottom: 1px solid #ddd !important;
	}

	#ms-shipping-checkout .table > tfoot > tr > td {
		border-top: none !important;
	}
}
/* End Checkout shipping */

.order-heading span b, .feedback-heading span b {
	display: block;
}

.order-heading, .feedback-heading  {
	height: 70px;
}

.order-heading .order-number, .feedback-heading .order-number {
	text-align: right;
}

.order-heading span span, .feedback-heading span span {
	display: block;
	float: none;
}

.feedback-heading .sub-table .sub-row .sub-table-heading {
	font-size: 18px;
	color: #9b9b9b;
}

.form-rate-rating-stars label, .form-rate-comment label, .form-rate-buttons a {
	font-size: 14px;
}

.form-rate-comment, .form-rate-buttons {
	margin-top: 15px;
}

.form-rate-buttons a {
	margin-left: 30px;
}

.form-rate-upload {
	width: auto;
	margin-top: 40px;
	max-height: 185px;
}


.product-title {
	color: #23a1d1;
}

.quantity {
	color: #000;
	float: left;
	margin-right: 5px;
}

.product-options {
	margin-top: 5px;
	font-size: 12px;
	color: #888888;

}
.menu-header {
	padding: 3px 20px;
	font-weight: bold;
}

.panel-body .product-holder .row {
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.panel-body .product-holder:last-child .row {
	margin-bottom: 0;
	border-bottom: 0;
}

.order-actions a {
	float: right;
}
.order-actions a.action {
	margin: 10px 0;
	width: 115px;
	display: block;
}

.form-group.category {
	float: left;
}

@media (max-width: 1024px) {
	.form-group.category .col-sm-12 {
		padding-left: 0;
	}
}

.ms-product .category-holder {
	padding-left: 15px;
}

.ms-product .selectize-control {
	float: left;
	max-width: 180px;
	width: 100%;
	margin-right: 20px;
}

.category-select {
	width: 150px;
}

.category-actions {
	width: 10%;
}

.add-category:focus, .add-category:hover {
	text-decoration: none;
}

.category-actions a.remove-category i {
	color: red;
}
.category-actions a i {
	font-size: 16px;
	float: left;
	margin: 5px;
	width: 15px;
}

#tab-questions .panel-heading {
	height: 80px;
}
#tab-questions .question-title {
	width: 75%;
	display: block;
	float: left;
}

#tab-questions .panel-body .actions {
	margin-bottom: 25px;
}

#tab-questions .answer-content p {
	display: block;
	width: 90%;
	float:left;
}

#tab-questions .ratings a i {
	font-size: 16px;
}
#tab-questions .ratings a.bad {
	color: red;
}

#tab-questions .ratings .rating-value {
	margin-right: 10px;
}

#tab-questions .answer-content {
	overflow: hidden;
}

.mm-panel-wrapper {
	overflow-x: initial;
	overflow-y: hidden;
}

.account-order .mm-panel-wrapper .panel {
	min-width: 650px
}

.account-order .mm-panel-wrapper.ms-account-order-history-panel .panel {
	min-width: 0;
}

@media (max-width: 768px) {
	.ms-account-order-history-panel-heading {
		height: auto;
	}
	.ms-account-order-history-panel-heading span {
		width: 100%;
	}
	.ms-account-order-history-product-holder > div {
		text-align: center;
	}
	.ms-account-order-history-product-holder > div > div {
		width: 100%;
	}
	.ms-account-order-history-product-holder .quantity {
		float: none;
	}
}

.account-order .mm-panel-wrapper .product-info .seller-name {
	margin-top: 5px;
	float: left;
	margin-bottom: 5px;
	width: 100%;
}

.account-order-info .suborder-info {
	font-size: 15px;
	margin-bottom: 25px;
}

.account-order-info .suborder-info ul {
	list-style: none;
	padding-left: 0;
}

#mm_product_options input[type="checkbox"] {
	vertical-align: middle;
	margin: 0 0 0 3px;
}

#mm_product_options .mm_bg_header {
	background-color: #f5f5f5;
	padding: 10px 13px;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
}

#mm_product_options .mm_remove_option {
	float: right;
}

#mm_product_options .mm_remove_option .mm_remove {
	vertical-align: middle;
}

#mm_product_options .mm_bg_header .mm_form {
	padding-left: 20px;
}

.ms-seller-settings .topbar {
	margin-bottom: 25px;
}

.ms-seller-settings .pg-topbar {
	margin-bottom: 25px;
	border: none;
}

.ms-seller-settings .topbar a {
	margin-bottom: 0;
	height: 37px;
	color: #666;
}

.ms-seller-settings .pg-topbar li {
	display: table;
	margin-right: 5px;
}

.ms-seller-settings .pg-topbar a {
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 0;
	height: 55px;
	width: 140px;
	border-color: #ddd !important;
	border-radius: 4px;
	text-align: center;
	color: #666;
}

.ms-seller-settings .pg-topbar li.active a {
	background-color: #eee;
}

.mm_dashboard fieldset legend {
	border-bottom: 0;
	padding: 0 10px;
	width: auto;
}

.ms-seller-settings .form-group .col-sm-10 {
	padding-right: 15px;
}

/* Payments and payment requests */
.ms-payment-form .well:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ms-pg-payment-form .invoices {
	height: 150px;
	overflow: auto;
}

.ms-pg-payment-form .methods-info ul {
	padding-left: 25px;
}

.ms-pg-payment-form .methods-info .payment_info_view {
	margin-top: 10px;
}

.paymentInfoControl {
	border-bottom: 1px dashed #23a1d1;
	text-decoration: none;
}

/* Seller shipping settings */
.ms-seller-settings #tab-seller-shipping .input-group-addon {
	background-color: #f5f5f5;
}

.ms-seller-settings #tab-seller-shipping .table thead tr td {
	color: #666;
	font-size: 10px;
	padding: 11px;
}
.ms-seller-settings #tab-seller-shipping .panel {
	border:0;
	margin-top: 30px;
}

.ms-seller-settings #tab-seller-shipping .panel .panel-heading {
	color: #666;
	font-size: 14px;
	font-weight: bold;
}

.ms-seller-settings #tab-seller-shipping .pull-right {
	margin-top: 7px;
}

/* Seller attributes */
.ms-attributes-topbar {
	border-bottom: 0;
	margin-bottom: 0;
}

.ms-attributes-topbar a {
	border: 1px solid #ddd !important;
	border-radius: 2px !important;
	height: 40px !important;
	color: #555;
}

.ms-attributes-topbar li.active a {
	background-color: #ddd !important;
	font-weight: bold;
}

#list-attributes tbody td:last-child i, #list-attribute-groups tbody td:last-child i, #list-options tbody td:last-child i, #list-categories tbody td:last-child i, #list-coupons tbody td:last-child i {
	font-size: 20px;
}

#list-attributes tbody td:last-child a, #list-attribute-groups tbody td:last-child a, #list-options tbody td:last-child a, #list-categories tbody td:last-child a, #list-coupons tbody td:last-child a {
	margin-right: 5px;
}

table#list-attributes, table#list-attribute-groups, table#list-options, table#list-categories {
	table-layout: fixed;
}

table#list-attributes > tbody > tr > td:first-child, table#list-attributes > tbody > tr > td:nth-child(2),
table#list-attribute-groups > tbody > tr > td:first-child,
table#list-options > tbody > tr > td:first-child,
table#list-categories > tbody > tr > td:first-child {
	word-wrap: break-word;
}

/* product page */
#tab-specification table {
	table-layout: fixed;
}

#tab-specification table td {
	word-wrap: break-word;
}

#tab-mm-cf table ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

#tab-description img {
	max-width: 100%;
}

/* Seller > account-question */
.mm_dashboard.question .form-group .col-sm-10 {
	padding-top: 7px;
	margin: 0;
	word-wrap: break-word;
}

/* Reports */
#reportrange {
	background: #fff;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #ccc;
	margin-top: 7px;
}

/* Reports in account side menu */
aside .list-group-submenu > .list-group-item {
	padding-left: 30px;
}

aside .list-group-submenu > .list-group-item:last-child {
	border-bottom: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

aside .list-group-item > .fa-caret-down {
	float: right;
	margin-top: 4px;
}

/* MsAutocomplete fields */
input[type="text"].ms-autocomplete {
	width: 160px;
}

/* MsCoupons */
.ms-coupon input[name="coupon[code]"] {
	text-transform: uppercase;
}

.ms-coupon .border-radius-left {
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
}

.ms-coupon .border-radius-right {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.ms-coupon .max-uses-input {
	float: left;
	padding-left: 0;
	padding-right: 0;
}

.ms-coupon .max-uses-customer-input {
	padding-left: 0;
	padding-right: 0;
}

.ms-coupon .ms-coupon-type-select {
	max-width: 120px;
	float: left;
	margin-right: 30px;
}

.ms-coupon .input-group.date:first-of-type {
	float: left;
}

.ms-coupon .input-group.date .input-group-addon {
	padding: 0px 10px;
	min-width: 80px;
}

.ms-coupon .flag-include-select {
	max-width: 50%;
	margin-bottom: 5px;
}

.ms-coupon .ms-no-items {
	margin-top: 5px;
}

.ms-coupon .selectize-input > input[id=coupon_products-selectized], .ms-coupon .selectize-input > input[id=coupon_oc_categories-selectized], .ms-coupon .selectize-input > input[id=coupon_ms_categories-selectized] {
	min-width: 210px !important;
}

/* sellers google map */
#map_canvas .mm-one-seller{
	width: 180px;
	background-color: #fff;
}

#map_canvas .mm-one-seller.panel{
	margin-bottom: 0;
}

#map_canvas .mm-one-seller.panel .panel-body{
	padding: 15px;
}

#map_canvas .mm-one-seller .seller-website{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}

#map_canvas .gm-style-iw {
	top: 23px !important;
}

/* Stripe Connect settings in Seller Settings */
.ms-seller-settings .stripe-connect-settings .message {
	border-bottom: 2px solid #dedede;
	padding-bottom: 15px;
	max-width: 430px;
}

.ms-seller-settings .stripe-connect-settings .message .title {
	font-size: 16px;
	font-weight: bold;
}

.ms-seller-settings .stripe-connect-settings .button {
	padding-top: 15px;
}

/* Stripe button on checkout confirmation step */
#collapse-checkout-confirm button.stripe-button-el {
	width: 300px;
	height: 52px;
}

#collapse-checkout-confirm button.stripe-button-el > span {
	min-height: 50px !important;
	line-height: 50px !important;
	background: none !important;
}

/* Account seller profile */
.account-seller-profile .radio.plan {
	border: 1px solid #e5e5e5;
	border-radius: 7px;
	height: 255px;
	width: 210px;
	float: left;
	padding: 0;
	overflow: hidden;
	margin-top: 0;
	margin-right: 5px;
	cursor: pointer;
}

.account-seller-profile .radio.plan.active {
	border: 1px solid #2095c1;
}

.account-seller-profile .radio.plan .title {
	padding: 0 10px;
}

.account-seller-profile .radio.plan .description {
	overflow-wrap: break-word;
	padding: 0 10px;
	min-height: 45px;
}

.mm_complaint {
	margin-top: 12px;
}

/* MultiMerch notifications */
#list-notifications tbody td {
	vertical-align: middle;
}

/* Fix plupload container at seller product form */
.plupload.html5 {
	display: none;
}
.lang-chooser img{
	/*display: none;*/
}
.lang-chooser img:only-child{
	display: none;
}
.col-sm-10 .lang-textarea:first-of-type:last-of-type .lang-img-icon-input-text, 
.col-sm-10 .lang-textarea:first-of-type:last-of-type .lang-img-icon-input{
	display: none;
}

/* MultiMerch wishlist */
.ms-wishlist .products-holder {
	margin-bottom: 30px;
}

.ms-wishlist .ms-product-card {
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}

.ms-wishlist .ms-product-card .price-new {
	font-size: 18px;
	font-weight: bold;
}

.ms-wishlist .ms-product-card .price-old {
	font-size: 14px;
	text-decoration: line-through;
}

.ms-wishlist .ms-product-card .caption h4 {
	margin-top: 0;
	font-weight: bold;
	font-size: 16px;
}

.ms-wishlist .ms-product-card .image img {
	margin: auto;
}

.ms-wishlist .ms-product-card .price {
	margin: 10px 0;
}

.ms-wishlist .ms-product-card .actions {
	text-align: right;
	font-size: 14px;
}

@media (max-width: 320px) {
	.ms-wishlist .ms-product-card .actions {
		text-align: left;
	}
}

#ms-wishlist-popup i.success, #ms-favorite-seller-popup i.success {
	color: green;
	border: 1px solid green;
	border-radius: 18px;
	padding: 10px;
	float:left;
	margin-right: 15px;
}

#ms-wishlist-popup i.error, #ms-favorite-seller-popup i.error {
	color: red;
	border: 1px solid red;
	border-radius: 18px;
	padding: 10px 12px;
	float:left;
	margin-right: 15px;
}

#ms-wishlist-popup .title, #ms-favorite-seller-popup .title {
	font-size: 16px;
}

#ms-wishlist-popup .buttons, #ms-favorite-seller-popup .buttons {
	margin-top: 15px;
}


.ms-account-order-info {
	background-color: #F3F5F5;
}

.ms-account-order-info .panel-default {
	padding: 20px;
}

.ms-account-order-info .panel-default .panel-heading {
	background-color: transparent;
	border: none;
	padding-left: 0;
	padding-right: 0;
	color: inherit;
}

.ms-account-order-info .btn.btn-sm {
	color: #333;
	padding: 4px 9px;
	font-size: 11px;
	border-radius: 2px;
	margin-top: -4px;
}

.ms-account-order-info .no-border {
	border: none !important;
}

.ms-account-order-info .btn-primary {
	color: #fff;
	background-color: #1e91cf;
	border-color: #1978ab;
}

.ms-account-order-info .btn-primary:disabled:hover {
	background-color: #1e91cf;
	border-color: #1978ab;
}


@media (min-width: 1200px) {
	.ms-account-order-info #content .col-lg-3:nth-child(4n+1) {
		clear: none;
	}
}

/* Checkout > Suborder comments */
#collapse-shipping-method > .panel-body > p:nth-child(4),
#collapse-shipping-method > .panel-body > p:nth-child(5) {
	display: none;
}

#collapse-payment-method > .panel-body > p:not(:first-of-type) {
	display: none;
}

#suborder-comments .suborder-comment {
	margin-top: 10px;
}

/* Imports */
#list-seller-imports-single tbody td:not(.dataTables_empty).last-child,
#list-seller-imports-scheduled tbody td:not(.dataTables_empty).last-child {
	text-align: right;
}

#list-seller-imports-single tbody td:last-child a,
#list-seller-imports-scheduled tbody td:last-child a {
	margin-right: 5px;
}

#list-seller-imports-single tbody td:last-child i,
#list-seller-imports-scheduled tbody td:last-child i {
	font-size: 20px;
}

#import-history tbody > tr:first-of-type > td {
	border: none;
}

#import-history  tbody > tr > td {
	padding: 8px;
}