<?php echo $header; ?><?php echo $column_left; ?>
<div id="content" class="ms-badge-page">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		  <a href="<?php echo $insert; ?>" data-toggle="tooltip" class="btn btn-primary"><i class="fa fa-plus"></i></a>
		  <button id="ms-badge-delete" style="display: none;" type="button" data-toggle="tooltip" title="" class="btn btn-danger ms-delete" data-original-title="<?php echo $button_delete; ?>" data-referrer="badge"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1><?php echo $ms_catalog_badges_heading; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
   <?php if (isset($success) && $success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $ms_catalog_badges_heading; ?></h3>
      </div>
      <div class="panel-body">
		<div class="table-responsive">
			<table class="list table table-bordered table-hover" style="text-align: center" id="list-badges">
			<thead>
				<tr>
					<td class="tiny"><input type="checkbox" onclick="$(document).find('#list-badges input[name*=\'selected\']').prop('checked', $(this).prop('checked'));" /></td>
					<td class="text-left tiny"><?php echo $ms_badges_column_id; ?></td>
					<td class="text-left large"><?php echo $ms_badges_column_name; ?></td>
					<td class="text-left large"><?php echo $ms_description; ?></td>
					<td class="text-center medium"><?php echo $ms_badges_image; ?></td>
					<td class="text-right medium"><?php echo $ms_badges_column_action; ?></td>
				</tr>

				<tr class="filter">
					<td></td>
					<td><input type="text"/></td>
					<td><input type="text"/></td>
					<td><input type="text"/></td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody></tbody>
			</table>
		</div>
      </div>
	</div>
  </div>
</div>

<script type="text/javascript">
var msGlobals = {
	token: '<?php echo $token; ?>'
};

$(function() {
	$('#list-badges').dataTable( {
		"sAjaxSource": "index.php?route=multimerch/badge/getTableData&token=<?php echo $token; ?>",
		"aoColumns": [
			{ "mData": "checkbox", "bSortable": false },
			{ "mData": "id", "sClass": "text-left" },
			{ "mData": "name", "sClass": "text-left" },
			{ "mData": "description", "sClass": "text-left" },
			{ "mData": "image", "bSortable": false, "sClass": "text-center" },
			{ "mData": "actions", "bSortable": false, "sClass": "text-right" }
		]
	});

    $(document).on('click', '#list-badges input:checkbox', function() {
        var selected_badges = $('#list-badges').children('tbody').find('input:checkbox:checked');
        if(selected_badges.length > 0) {
            $('.page-header button.btn-danger').show();
        } else {
            $('.page-header button.btn-danger').hide();
        }
    });
});
</script>

<?php echo $footer; ?> 