<div class="col-sm-12" style="margin-bottom: 15px;">
	<div class="override-block <?php echo !$is_overridden ? '' : 'hidden'; ?>">
		<p><?php echo $messages['override']; ?></p>
		<a href="javascript:;" class="override bottom-dotted-link"><?php echo $ms_field_attribute_btn_override; ?></a>
	</div>
	<div class="remove-override-block <?php echo $is_overridden ? '' : 'hidden'; ?>">
		<p><?php echo $messages['remove_override']; ?></p>
		<a href="javascript:;" class="remove-override bottom-dotted-link"><?php echo $ms_field_attribute_btn_remove_override; ?></a>
	</div>
</div>

<div class="col-sm-12 <?php echo !$is_overridden ? 'ms-disabled' : ''; ?>">
	<input type="text" value="" placeholder="<?php echo $ms_field_attribute_select_placeholder; ?>" id="input-msf-attribute" class="form-control <?php if (!$is_overridden) { ?>hidden<?php } ?>" <?php if (!$is_overridden) { ?>disabled<?php } ?> />

	<ul id="msf-attributes" class="list-group" style="margin-top: 10px;">
		<?php if (!empty($msf_attributes)) { ?>
			<?php foreach ($msf_attributes as $key => $msf_attribute) { ?>
				<li class="list-group-item ui-state-default attribute">
					<input type="hidden" name="msf_attributes[]" value="<?php echo $msf_attribute['id']; ?>" class="msf-attribute-id" />
					<strong class="value-name"><?php echo $msf_attribute['full_name']; ?></strong>
					<a class="icon-remove ms-remove bottom-dotted-link" title="<?php echo $ms_remove; ?>" style="float: right;"><?php echo $ms_remove; ?></a>
				</li>
			<?php } ?>
		<?php } ?>
	</ul>
</div>

<script>
	$(function () {
		// Sortable list
		$("#msf-attributes").sortable({
			placeholder: "ui-sortable-placeholder"
		});

		$(document).on('click', '.ms-remove', function () {
			$(this).closest('li').remove();
		});
	})
</script>