<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		  <a href="<?php echo $link_create_seller; ?>" data-toggle="tooltip" title="<?php echo $ms_catalog_sellers_create; ?>" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      <h1><?php echo $ms_catalog_sellers_heading; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid page-body">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
   <?php if (isset($success) && $success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $ms_catalog_sellers_heading; ?></h3>
      </div>
      <div class="panel-body">
		<div class="table-responsive">
		<table class="table table-bordered table-hover" style="text-align: center" id="list-sellers">
			<thead>
				<tr>
					<td class="text-center tiny"></td>
					<td class="text-left large"><?php echo $ms_seller; ?></td>
					<td class="text-left large"><?php echo $ms_catalog_sellers_email; ?></td>
					<td class="text-right small"><?php echo $ms_catalog_sellers_total_products; ?></td>
					<td class="text-right small"><?php echo $ms_catalog_sellers_total_sales; ?></td>
					<td class="text-right medium"><?php echo $ms_catalog_sellers_current_balance; ?></td>
					<td class="text-left small" id="status_column"><?php echo $ms_catalog_sellers_status; ?></td>
					<td class="text-right medium"><?php echo $ms_catalog_sellers_date_created; ?></td>
					<td class="text-right large"><?php echo $ms_action; ?></td>
				</tr>
				<tr class="filter">
					<td></td>
					<td><input type="text" name="search_seller" class="search_init" /></td>
					<td><input type="text" name="filter_email" /></td>
					<td><input type="text" name="filter_total_products" /></td>
					<td></td>
					<td></td>
					<td class="text-left">
						<select id="status_select">
							<option></option>
							<?php $msProduct = new ReflectionClass('MsProduct'); ?>
							<?php foreach ($msProduct->getConstants() as $cname => $cval) { ?>
								<?php if (strpos($cname, 'STATUS_') !== FALSE) { ?>
									<option value="<?php echo $cval; ?>"><?php echo $this->language->get('ms_product_status_' . $cval); ?></option>
								<?php } ?>
							<?php } ?>
						</select>
					</td>
					<td><input type="text" name="filter_date_created" class="input-date-datepicker"/></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		</div>
	</div>
  </div>
</div>
<script type="text/javascript">
var msGlobals = {
	token : '<?php echo $token; ?>',
	ms_confirm: '<?php echo htmlspecialchars($ms_confirm, ENT_QUOTES, "UTF-8"); ?>',
	button_cancel: '<?php echo htmlspecialchars($button_cancel, ENT_QUOTES, "UTF-8"); ?>'
};

$(document).ready(function() {
	$('#list-sellers').dataTable( {
		"sAjaxSource": "index.php?route=multimerch/seller/getTableData&token=<?php echo $token; ?>",
		"aoColumns": [
			{ "mData": "image", "bSortable": false, "sClass": "text-center" },
			{ "mData": "seller", "sClass": "text-left" },
			{ "mData": "email", "sClass": "text-left" },
			{ "mData": "total_products", "sClass": "text-right" },
			{ "mData": "total_sales", "sClass": "text-right" },
			{ "mData": "balance", "sClass": "text-right" },
			{ "mData": "status", "sClass": "text-left" },
			{ "mData": "date_created", "sClass": "text-right" },
			{ "mData": "actions", "bSortable": false, "sClass": "text-right" }
		],
		"initComplete": function(settings, json) {
			var api = this.api();
			var statusColumn = api.column('#status_column');

			$('#status_select').change( function() {
				statusColumn.search( $(this).val() ).draw();
			});
		}
	} );
});
</script>
<?php echo $footer; ?>