<div class="col-sm-12" style="margin-bottom: 15px;">
	<div class="override-block <?php echo !$is_overridden ? '' : 'hidden'; ?>">
		<p><?php echo $messages['override']; ?></p>
		<a href="javascript:;" class="override bottom-dotted-link"><?php echo $ms_field_seller_property_btn_override; ?></a>
	</div>
	<div class="remove-override-block <?php echo $is_overridden ? '' : 'hidden'; ?>">
		<p><?php echo $messages['remove_override']; ?></p>
		<a href="javascript:;" class="remove-override bottom-dotted-link"><?php echo $ms_field_seller_property_btn_remove_override; ?></a>
	</div>
</div>

<div class="col-sm-12 <?php echo !$is_overridden ? 'ms-disabled' : ''; ?>">
	<input type="text" value="" placeholder="<?php echo $ms_field_seller_property_select_placeholder; ?>" id="input-msf-seller-property" class="form-control <?php if (!$is_overridden) { ?>hidden<?php } ?>" <?php if (!$is_overridden) { ?>disabled<?php } ?> />

	<ul id="msf-seller-properties" class="list-group" style="margin-top: 10px;">
		<?php if (!empty($msf_seller_properties)) { ?>
			<?php foreach ($msf_seller_properties as $key => $msf_seller_property) { ?>
				<li class="list-group-item ui-state-default seller-property">
					<input type="hidden" name="msf_seller_properties[]" value="<?php echo $msf_seller_property['id']; ?>" class="msf-seller-property-id" />
					<strong class="value-name"><?php echo $msf_seller_property['full_name']; ?></strong>
					<a class="icon-remove ms-remove bottom-dotted-link" title="<?php echo $ms_remove; ?>" style="float: right;"><?php echo $ms_remove; ?></a>
				</li>
			<?php } ?>
		<?php } ?>
	</ul>
</div>

<script>
	$(function () {
		// Sortable list
		$("#msf-seller-properties").sortable({
			placeholder: "ui-sortable-placeholder"
		});
	})
</script>